<template>
      <div v-if="layout" class="row" style="margin:0">
        
        <div class="col-2" v-for="(image, index) in gallery" :key="index">
          <div @mouseover="showOnHover = index + 1" @mouseout="showOnHover = 0" class="component-preview">
            <img class="image-component-preview" :src="image.image_url" />
            <div v-if="showLoading == index + 1" class="preview-loading"></div>
            <div v-show="showOnHover == index + 1" class="foreground"  @click="triggerDelete(image, index)"><i class="fa fa-times"></i> </div>
          </div>
        </div>

          <div class="col-2 div-component-preview"  @click="trigger">
            <div  class="component-preview">
              <i class="fas fa-plus" style="-webkit-text-stroke: 3px white;"></i> 
            </div>
                
          </div>
        <div>
          <input multiple="multiple" type="file" name="image" id="file-component-input" ref="file-component-input" accept=".jpg, .jpeg, .png" @change="onImageChange"  />
        </div>
      </div>
      <!--Create new layout -->
      <div v-else class="row" style="margin:0"> 
          <div class="col-2" v-for="(image, index) in listGalleryIfCreateNew" :key="index">
          <div @mouseover="showOnHover = index + 1" @mouseout="showOnHover = 0" class="component-preview">
            <img class="image-component-preview" :src="image" />
            <div v-if="showLoading == index + 1" class="preview-loading"></div>
            <div v-show="showOnHover == index + 1" class="foreground"  @click="triggerDeleteNew(image, index)"><i class="fa fa-times"></i> </div>
          </div>
        </div>

          <div class="col-2 div-component-preview"  @click="triggerNew">
            <div  class="component-preview">
              <i class="fas fa-plus" style="-webkit-text-stroke: 3px white;"></i> 
            </div>
                
          </div>
        <div>
          <input multiple="multiple" type="file" name="image" id="file-component-input-new" ref="file-component-input-new" accept=".jpg, .jpeg, .png" @change="onImageChangeNew"  />
        </div>
      </div>
</template>

<script>
    import apiBinaryPost from "../../../helpers/apiBinaryPost";
    import apiCall from "../../../helpers/apiCall";
    import { 
    ApiLayoutGallery, 
    ApiUploadLayoutGallery
  } from "../../../config"; 



    export default {
        name: 'uploadGallery',
        props: ['gallery', 'layout'],
        data (){
          
            return {
                showOnHover: 0,
                showLoading : 0,
                listGalleryIfCreateNew: [],
                listFileIfCreateNew: []
            }
        },
        methods : {
            trigger () {
                this.$refs['file-component-input'].click();
            },

            triggerDelete (image, index) {
              console.log('image', image)
                if(image._id){
                  let urlDeleteLayoutGallery = `${ApiLayoutGallery}`.replace(':key', this.layout.name) ;
                  urlDeleteLayoutGallery = urlDeleteLayoutGallery  + '/' + image._id;
                  this.showLoading = index + 1;
                  apiCall('delete', urlDeleteLayoutGallery).then(res => {
                        

                        this.deleteImage(image);
          
                    }).catch(err=>{
                        console.log(err);
                    });
                }
                
            },
            
            deleteImage(image){
              let index = this.gallery.findIndex( r => {
                  return image._id == r._id;
              });
              this.gallery.splice(index, 1);
              this.showLoading = 0;
            },

            onImageChange (e){
                const files = e.target.files;
                if(files.length){
                  for(var i = 0; i< files.length; i++){
                    let file = files[i];
                    let urlUploadLayoutGallery = `${ApiUploadLayoutGallery}`;
                    //let urlDeleteLayoutGallery = `${ApiLayoutGallery}`.replace(':key', this.layout.name) + '/';
                    let formData = new FormData();
                    formData.append('image', file);
                    formData.append('name', this.layout.name);
                    apiBinaryPost(urlUploadLayoutGallery, formData).then(res => {
                      this.imageUrl = URL.createObjectURL(file);
                      this.gallery.push(res.data.data);
                      this.$emit('getImage', file);
                    }).catch(err=>{
                      console.log(err);
                    });
                  }
                }
                
            },

            triggerNew() {
              this.$refs['file-component-input-new'].click();
            },

            onImageChangeNew(e){
              const files = e.target.files;

                if(files.length){
                  for(var i = 0; i< files.length; i++){
                    let file = files[i];
                    this.listGalleryIfCreateNew.push(URL.createObjectURL(file));
                    this.listFileIfCreateNew.push(file);
                  }
                }
            },
            triggerDeleteNew (image, index) {
               this.listGalleryIfCreateNew.splice(index, 1);
                this.showLoading = 0;    
            },
            onImageChangeCreateNew(layout){
              const files = this.listFileIfCreateNew;
              if(files.length){
                  for(var i = 0; i< files.length; i++){
                    let file = files[i];
                    let urlUploadLayoutGallery = `${ApiUploadLayoutGallery}`;
                    //let urlDeleteLayoutGallery = `${ApiLayoutGallery}`.replace(':key', this.layout.name) + '/';
                    let formData = new FormData();
                    formData.append('image', file);
                    formData.append('name', layout.name);
                    apiBinaryPost(urlUploadLayoutGallery, formData).then(res => {
                      this.imageUrl = URL.createObjectURL(file);
                      this.gallery.push(res.data.data);
                      this.$emit('getImage', file);
                    }).catch(err=>{
                      console.log(err);
                    });
                  }
                }
            },

        }
    }
</script>
<style lang="scss" scoped>
    #file-component-input
    {
        display: none;
    }

    #file-component-input-new
    {
        display: none;
    }
    .div-component-preview{

        text-align:center;
        cursor: pointer;
        font-size: 60px;
        
    }
    .preview-loading {
      width: 100%;
      background: #c4c4c4;
      opacity: 0.7;
      height: 100%;
      position: absolute;
      bottom: 0;
    };
    .component-preview{
        width: 142px;
        height: 144px;
        border: 1px solid #c4c4c4;
        line-height:140px;
        text-align: center;
        
        .image-component-preview
        {
            cursor: pointer;
            max-width: 140px;
            max-height: 140px;
            
        }
        
        .foreground {
            cursor: pointer;
            background: #000000;
            height: 40px;
            position: relative;
            bottom: 140px;
            line-height: 42px;
            opacity: 0.6;
            font-size:20px;
            color: #d8d8d8;

        }
    }
    
   
</style>