

<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal modal-xl"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            <span v-if="project">Edit project {{project.name}}</span>
            <span v-else>Create Project</span>
            <button
              type="button"
              class="btn-close"
              @click="close"
              aria-label="Close modal"
            >
              x
            </button>
          </slot>
        </header>
        <div
          class="modal-body"
          id="modalDescription"
        >


          <div class="content-body profile-form">
        <!-- Using Commont -->
            <div class="align-items-center">
              <div class="form-group">
                <UploadImage :src="formData.imageUrl" v-on:getImage="childFromParent"/>
              </div>  

              <div class="form-group">
                <label for="name">Name *</label>
                <input
                  type="text"
                  v-model="formData.name"
                  class="form-control"
                  id="name" name="name"
                  placeholder="Name" v-bind:class="{ errors: errors.has('name')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('name')">{{errors.first('name')}}</span>
              </div>

              <div class="form-group">
                <label for="name">Code *</label>
                <input
                  type="text"
                  :disabled="project"
                  v-model="formData.code"
                  class="form-control"
                  id="code" name="code"
                  placeholder="Code" v-bind:class="{ errors: errors.has('code')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('code')">{{errors.first('code')}}</span>
              </div>
              

              <div class="form-group">
                <label for="status">Status</label>
                <select id="status" name="status" class="form-control" v-model="formData.status" v-bind:class="{ errors: errors.has('status')  }" v-validate="'required'">
                    <option></option>
                    <option v-for="(item, index) in status" :value="index" :key="index">
                      {{ item}}
                    </option>
                </select>
                <span class="errors" v-if="errors.has('status')">{{errors.first('status')}}</span>
              </div>
              
              <div class="form-group">
                <label for="landing">Description</label>
                <textarea 
                  type="text"
                  v-model="formData.description"
                  class="form-control"
                  id="desc"
                  placeholder="Description ..."
                  name="desc"
                  rows=4
                ></textarea>
              </div>

              <div class="form-group">
                <label for="sort">Sort</label>
                <input type="number" v-model="formData.sort" class="form-control" id="sort" name="sort" placeholder="sort" />
              </div>

              <div class="form-group">
                <label for="landing">Landing page</label>
                <input type="text" v-model="formData.landing_url" class="form-control" id="landing_url" name="landing_url" placeholder="Url" />
              </div>

              <location-form :location="formData.location" :handleUpdate="data => formData.location = data" />

              <div class="form-group">
                <div class="custom-control custom-checkbox float-left width-percent-50">
                  <input
                          type="checkbox"
                          class="custom-control-input"
                          name="isTemplate"
                          id="isTemplate"
                          v-model="formData.isTemplate"
                        >
                  <label for="isTemplate" class="custom-control-label">isTemplate</label>
                </div>
              </div>
            </div>
          </div>

        </div>
        <footer class="modal-footer">
          <slot name="footer">

            <button 
                type="button"
                class="btn-black"
                v-if="project && project.isTemplate"
                @click.self.prevent="syncToConsultantProject" 
                :disabled="$store.state.isSaving"
                aria-label="Sync modal"
              >
                <i class="fa fa-sync"></i> 
              </button>

           <button 
              type="button"
              class="btn-black"
              @click.self.prevent="validateAndSave" 
              :disabled="$store.state.isSaving"
              aria-label="Save modal"
            >
              Save
            </button>

            <button
              type="button"
              class="btn-white"
              @click="close"
              aria-label="Close modal"
            >
              Close
            </button>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
  import Vue from "vue";
  import VeeValidate from 'vee-validate';
  import locationForm from "../../../components/Partials/locationForm";
  import { ApiProjects, ApiUploadProjectThumb , STATUS_LIST, ApiConsultantProject, ConsultantProjectAccessKey} from "../../../config"; 
  import apiCall from "../../../helpers/apiCall";
  import apiBinaryPost from "../../../helpers/apiBinaryPost";
  import UploadImage from "../../../components/Partials/UploadImage";

  Vue.use(VeeValidate)

  export default {
    name: 'Modal',
    props : ['project'],
     components: {
      UploadImage,
      locationForm
    },
    data() {
      return {
        formData : {
          location : {}
        },
        status: STATUS_LIST,
        image:null,
        imageUrl: null,


        updatedProject: null

      }
    },
    created() {
      this.initData();
    },
    
    methods: {
      initData() {

        this.initProject();
      },

      initProject(){
        let project = this.project;
        this.formData = Object.assign(this.formData, project);
      },

      validateAndSave(){
        this.$validator.validateAll().then(valid => {
          console.log(this.project)
          if(valid){
            if(this.project){
              this.edit();
            }
            else{
              this.create();
            }

          }
        });
        
      },
      
      edit(){
          let url = `${ApiProjects}/${this.project.code}`; 
          
          apiCall('put', url, this.formData).then(res => {  
              console.log("done Editing: ", res);
              this.updatedProject = res.data.data || null;

              if(this.image){
                  let formImage = new FormData();
                  let urlUploadThumb = `${ApiUploadProjectThumb}`; 
                  formImage.append('image', this.image);
                  formImage.append('code', this.formData.code);
                  apiBinaryPost(urlUploadThumb, formImage).then(upres => { 
                            this.close();
                        }).catch(uerr => {
                            console.log('upload err',uerr);
                        });;
                }else{
                  this.close(); 
                }
                      
             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },

      create(){
          let url = `${ApiProjects}`; 
          
          apiCall('post', url, this.formData).then(res => {  
              console.log("done creating: ", res);
              this.updatedProject = res.data.data || null;

              if(this.image){
                  let formImage = new FormData();
                  let urlUploadThumb = `${ApiUploadProjectThumb}`; 
                  formImage.append('image', this.image);
                  formImage.append('code', this.formData.code);
                  apiBinaryPost(urlUploadThumb, formImage).then(upres => { 
                            this.close();
                        }).catch(uerr => {
                            console.log('upload err',uerr);
                        });;
                }else{
                  this.close(); 
                }  

             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },


      close() {  
        this.$emit('closeChild');
        if(this.updatedProject){
          this.$emit('childToParent', this.updatedProject);
        }
      },

      childFromParent(arg){
        this.image = arg;
      },

      syncToConsultantProject(){
        let url = `${ApiConsultantProject}` + "/cms/v1/sync-data";
        let paramSync = {
          type : "project",
          key  : this.project._id
        }
        apiCall('post', url, paramSync, {headers : {AccessKey: `${ConsultantProjectAccessKey}`}}).then(res => {     

          }).catch(err => {            
              console.log('err',err);
        }) ;
      }

    },
  };
</script>

<style>
 .inputfile-box {
  position: relative;
}

.inputfile {
  display: none;
}

.container {
  display: inline-block;
  width: 100%;
}

.file-box {
  display: inline-block;
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
  box-sizing: border-box;
  height: calc(2rem - 2px);
}

.file-button {
  background: black;
  padding: 5px;
  color:white;
  position: absolute;
  
  top: 0px;
  right: 0px;
}
.custom-checkbox input {
  display: block;
  float: left;
  width: 50%;
}
</style>