.cms-card{
    &.card {
      box-shadow: 0 1px 3px rgba(9, 30, 66, 0.15);
        .card-body {
          padding: 0 15px;
        }
      
        .card-header, .card-ico {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
        }
      
        .card-header {
          img {
            max-width: 50px;
            border-radius: 50%;
          }
          span{
              display: block;
          }
          h5 {
            font-weight: bold;
            margin-bottom: 0;
          }
          &.header-body {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
          }
        }
      
        .card-ico {
          margin-bottom: 10px;
          i {
            width: 50px;
            display: inline-block;
            text-align: center;
            margin-right: 15px;
            &.icon-star::before {
              font-size: 14px;
            }
            &::before {
              font-size: 18px;
              color: #b5b5b5;
            }
          }
      
          .card-txt {
            margin-bottom: 0;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            label {
              margin-bottom: 0;
              color: #b5b5b5;
              margin-right:5px;
              display: block;
            }
          }
        }

        .form-group label{
          color: #b5b5b5;
        }
    }
}