<template>
  <ContentWrapper class="object-wp">
    <div class="content-heading justify-content-between">
      <h2>Objects Management</h2>
      <!-- <div class="add-button" @click="showAdd()"><em class="icon-plus mr-2"></em></div> -->
      <button class="btn btn-fprimary btn-add" @click="showAdd()">
          <i class="fa fa-plus"></i> 
        </button>
    </div>
    <div class="content-body">
      <!-- <div class="nav-item search float-left">
        <input v-model="options.params.name" class="width-250 form-control float-left" v-on:keyup.enter="search" >
        <button v-on:click="search" class="btn float-left">
          <i class="fa fa-search"></i> 
        </button>
      </div> -->
      
      <div class="form-group float-left">
          <select id="group" name="group" class="form-control"  @change="onSelectBrand($event)">
                      <option value="">All Brands</option>
                      <option v-for="item in brands" :value="item.code">
                        {{ item.name}} ( {{item.code}})
                      </option>
          </select>
      </div>

      <div class="form-group float-left ml-5">
          <select id="group" name="group" class="form-control"  @change="onSelectCategory($event)">
                      <option value="">All Categories</option>
                      <option v-for="item in categories" :value="item.code">
                        <span v-if="item.parent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--------| &nbsp;</span> {{ item.name}} ( {{item.code}})
                      </option>
          </select>
      </div>
      

      <v-server-table ref="table"
        :columns="[
        'thumb',
        'name',
        'displayName',
        'brand',
        'category',
        'status',
        'action'
        ]"
        :options="options" class="cms-table">
        <!-- <template slot="name" slot-scope="props" class="text-center" @click="edit(props.row)">
          <router-link class="nav-link link-txt pl-0" :to="`/objects/${props.row.id}`" @click.native="edit(props.row)">
              <span>{{ props.row.name }}</span>
          </router-link>
        </template> -->
        <template slot="name" slot-scope="props" class="text-center">
          <strong class="nav-link link-txt pl-0 text-bold">
              <span>{{ props.row.name }}</span>
          </strong>
        </template>
        <div slot="child_row" slot-scope="props" class="child-table">
          <div class="card-deck p-3 row clearfix text-left">
            <div class="card cms-card">
                <div class="title-cs pl-3 mb-0 pb-0 pt-1">
                    <h3>Additional Information</h3>
                </div>
                <div class="card-body">
                    <div class="card-ico">
                        <p class="card-txt">
                            <label>Asset Bundle </label>
                            
                              <span><a download v-bind:href="props.row.assetBundleUrl">Click to download</a></span>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <span>{{props.row.revision}}</span>
                            
                            
                        </p>
                    </div>
                     <div class="card-ico">
                        <p class="card-txt">
                            <label>&nbsp;</label>
                            <span>&nbsp;</span>
                        </p>
                    </div>
                    <div class="card-ico">
                        <p class="card-txt">
                            <label>Asset Bundle 2018 </label>
                            
                              <span><a download v-bind:href="props.row.versionAssetBundle.v2018.assetBundleUrl">Click to download</a></span>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <span>{{props.row.versionAssetBundle.v2018.revision}}</span>
                            
                            
                        </p>
                    </div>
                     <div class="card-ico">
                        <p class="card-txt">
                            <label>&nbsp;</label>
                            <span>&nbsp;</span>
                        </p>
                    </div>
                    <div class="card-ico">
                        <p class="card-txt">
                            <label>Asset Bundle 2019 </label>
                            
                              <span><a download v-bind:href="props.row.versionAssetBundle.v2019.assetBundleUrl">Click to download</a></span>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <span>{{props.row.versionAssetBundle.v2019.revision}}</span>
                            
                            
                        </p>
                    </div>
                     <div class="card-ico">
                        <p class="card-txt">
                            <label>&nbsp;</label>
                            <span>&nbsp;</span>
                        </p>
                    </div>
                    <div class="card-ico">
                        <p class="card-txt">
                            <label>Asset Bundle 2020 </label>
                            
                              <span><a download v-bind:href="props.row.versionAssetBundle.v2020.assetBundleUrl">Click to download</a></span>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <span>{{props.row.versionAssetBundle.v2020.revision}}</span>
                            
                            
                        </p>
                    </div>
                    <div class="card-ico">
                        <p class="card-txt">
                            <label>&nbsp;</label>
                            <span>&nbsp;</span>
                        </p>
                    </div>
                    <div class="card-ico">
                        <p class="card-txt">
                            <label>Asset Zip Url </label>
                            <span v-if="props.row.assetZipUrl"><a download v-bind:href="props.row.assetZipUrl">Click to download</a></span>
                        </p>
                    </div>
                    <div class="card-ico">
                        <p class="card-txt">
                            <label>&nbsp;</label>
                            <span>&nbsp;</span>
                        </p>
                    </div>
                    <div class="card-ico">
                        <p class="card-txt">
                            <label>Asset Bundle Revision</label>
                            <span>{{props.row.revision}}</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="card cms-card">
                <div class="title-cs pl-3 mb-0 pb-0 pt-1">
                    <h3>Attributes</h3>
                </div>
                <div class="card-body">
                    <div class="d-flex">
                      <div class="custom-control custom-checkbox width-percent-50">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          v-model="props.row.attributes.isTTS"
                        >
                        <label class="custom-control-label">is TTS</label>
                      </div>

                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          v-model="props.row.attributes.isCarpet"
                        >
                        <label class="custom-control-label">is Carpet</label>
                      </div>
                    </div>
                    <!-- <div class="card-ico">
                      
                      
                    </div> -->
                    <div class="d-flex">
                      <div class="custom-control custom-checkbox width-percent-50">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          v-model="props.row.attributes.putable"
                        >
                        <label class="custom-control-label">Putable</label>
                      </div>
                      
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          v-model="props.row.attributes.hangable"
                        >
                        <label class="custom-control-label">Hangable</label>
                      </div>
                    </div>
                    <!-- <div class="card-ico">
                      
                      
                    </div> -->

                    <div class="d-flex">
                      <div class="custom-control custom-checkbox width-percent-50">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          v-model="props.row.attributes.isDecor"
                        >
                        <label class="custom-control-label">is Decor</label>
                      </div>
                      
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          v-model="props.row.isCommon"
                        >
                        <label class="custom-control-label">is Common</label>
                      </div>
                    </div>

                    <!-- <div class="card-ico">
                      
                      
                    </div> -->

                    <div class="d-flex">
                      <div class="custom-control custom-checkbox width-percent-50">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          v-model="props.row.attributes.canScale"
                        >
                        <label class="custom-control-label">Can Scale</label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          v-model="props.row.attributes.canArray"
                        >
                        <label class="custom-control-label">Can Array</label>
                      </div>
                      
                    </div>

                    <!-- <div class="card-ico">
                      
                    </div> -->

                    <div class="d-flex">
                      <div class="custom-control custom-checkbox width-percent-50">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          v-model="props.row.attributes.canCook"
                        >
                        <label class="custom-control-label">Can Color</label>
                      </div>
                      
                      <div class="custom-control custom-checkbox width-percent-50">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          v-model="props.row.attributes.canDelete"
                        >
                        <label class="custom-control-label">Can Delete</label>
                      </div>
                    </div>

                    <div class="d-flex">
                      <div class="custom-control custom-checkbox width-percent-50">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          v-model="props.row.attributes.hookable"
                        >
                        <label class="custom-control-label">Hookable</label>
                      </div>
                      
                        <label v-if="!props.row.attributes.hookable"> N/A </label>
                        <label v-if="props.row.attributes.hookable"> On {{props.row.attributes.anchor}} </label>
                    </div>
                      
                    <!-- <div class="card-ico" >
                       
                    </div> -->


                    <div class="d-flex">
                      <div class="custom-control custom-checkbox width-percent-50">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          v-model="props.row.attributes.isLight"
                        >
                        <label class="custom-control-label">Is Light</label>
                      </div>
                      <label v-if="!props.row.attributes.isLight"> N/A </label>
                      <label v-if="props.row.attributes.isLight"> Light type :  {{props.row.attributes.lightType}} </label>
                    </div>

                    <!-- <div class="card-ico" >
                       
                    </div> -->
                </div>
            </div>
          </div>
   
        </div>
        <template slot="brand" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            {{ props.row.brand }}
          </span>
        </template>

       <template slot="category" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            {{ props.row.category }}
          </span>
        </template>

        <template slot="thumb" slot-scope="props" class="col-status text-center" >
          <img class="max-height-75" v-bind:src="props.row.thumb128Url"/>
            
        </template>

        <template slot="status" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
             <Status :value="props.row.status"/>
          </span>
        </template>

        <div  slot="displayName" slot-scope="{row, index}" class="col-status text-bold" >
          
          <span @click="setEditing(row, index)" v-if="!row.isEditing">
            <a>{{row.displayName}}</a>
          </span>
          <span  v-else>
            <input type="text" v-model="row.displayName">
            <button type="button" class="btn btn-info btn-xs" @click.prevent=" setEditing(row)">Submit</button>
            <button type="button" class="btn btn-default btn-xs" @click.prevent="setEditing(row); ">Cancel</button>
          
          </span>
        </div>

        <template slot="action" slot-scope="props">
          <div class="text-center">
            <button class="btn btn-xs" @click.prevent="edit(props.row)">
              <i class="far fa-edit"></i>
            </button>
          </div>
        </template>
        
    
      </v-server-table>
    </div>

    <Modal 
      v-on:childObjectToParent="onCloseModal"
      v-if="isModalVisible"
      @closeChild="closeModal" 

      :editedObject="editedObject"
      :brands="brands"
      :categories="categories"
    /> 
    <!-- or v-on:close  -->
  </ContentWrapper>
</template>

<script>
import Vue from "vue";
import { ServerTable } from "vue-tables-2";
import { ApiObjects, URLObjects, ApiCategories, ApiBrands } from "../../config"; 
import { mapGetters, mapActions, mapState } from "vuex";
import apiCall from "../../helpers/apiCall";
import { get, concat } from "lodash";
import moment from 'moment';

import Status from "../../components/Partials/Status";
import Modal from './Modal/AddEdit.vue';
import toast from "../../helpers/toast";

Vue.use(ServerTable);

export default {
  props: {
    type : String
  },
  watch: {  
        'type': function(newVal, oldVal) { // watch it   
          this.load(newVal);
        }
      },
  components: {
    ServerTable,
    Modal,
    Status
  },
  created() {
    //this.getData(this.type);
    //this.load();
    this.$emit('showLoading', false);
    this.initBrands();
    this.initCategories();
  },
 
  data() {
    return {
      brands: [],
      categories : [],
      
      objectsList: [],
      
      moment,
      options: {
        perPage: 20,
        pagination: { chunk: 5 },
        headings: {
          thumb : 'Thumb',
          name: 'Key names',
          brand:"Brand",
          status:"Status",
          category:"category",
          displayName: "Display name"          
        },

        sortIcon: {
          is: "fa-chevron-down",
          base: "fas",
          up: "fa-chevron-up",
          down: "fa-chevron-down"
        },

        columnsClasses: {
          thumb: "width-100",
          status: "width-100"
        }
      },
      options: {   
        requestFunction: (function (params) {
          params.name = params.query;
          let queryString = Object.keys(params).map(function(key) {
            if(params[key]){
              return key + '=' + params[key]
            }
          }).join('&');
          let url = `${ApiObjects}?${queryString}`;
          
          return apiCall("get", url);
        }).bind(this),

        responseAdapter : function(resp) { 
          
          var data = this.getResponseData(resp);
          let list =  data.data.data.list;
          list = list.map((item, index) => {
                item["id"] = index;
                return item;
            });
          
          let result = { data: list, count: data.data.meta.total };
          return result;
        },
        params : {
          name : null,
          brand : null,
          category : null,
          type: this.type
        },
        perPage: 20,
        perPageValues:[20, 50, 100],
        pagination: {  
          edge: true,
          dropdown: false,
          chunk: 5   
        },
        headings: {
          thumb : 'Thumb',
          name: 'Key names',
          brand:"Brand",
          status:"Status",
          category:"category",
          displayName: "Display name" 
          
        },
        sortable : ['name'],
        sortIcon: {
          is: "fa-chevron-down",
          base: "fas",
          up: "fa-chevron-up",
          down: "fa-chevron-down"
        },
        columnsClasses: {
          thumb: "width-100",
          status: "width-100"
        },
        
      },

      isModalVisible: false,
      editedObject: null
    };
  },
  computed:{
    ...mapGetters(["getObjectsList"]),
  },
  methods: {
    load(type){
      if(type)
        this.options.params.type = type;
      console.log('type', this.options.params);
      this.$refs.table.refresh();
    },

    initBrands(){
        let url = `${ApiBrands}`;   
        apiCall("get", url).then(res => {
          console.log(res);
          this.brands = res.data.data.list || [];
        })
        .catch(error => {
          console.error(error);
        });
    },

    initCategories(){
        let url = `${ApiCategories}`;   
        apiCall("get", url).then(res => {
         
          this.categories = res.data.data.list || [];

          let tmp = [];
          this.categories.forEach(function(value, key) {
             tmp.push(value);
             value.sub_categories.forEach(function(sub_val, sub_key){
               tmp.push(sub_val);
             });
          });
          this.categories = tmp;

        })
        .catch(error => {
          console.error(error);
        });
    },

    setEditing(e, index){
    //  e.isEditing = !e.isEditing;
    },

    statusRender(e){
      return statusRender(e);
    },
    
    // getData(type){
    //     this.$emit('showLoading', true)
    //     let url = `${ApiObjects}`; //?page=${this.currentPage + 1}&limit=${this.limit}`;
    //     url = this.buildUrl(url, {type : type});
    //     // if(type){
    //     //   url = `${url}&type=${type}`;
    //     //   console.log(url);
    //     // }
        
       
    //     apiCall("get", url).then(res => {
    //       this.objectsList = get(res.data, "data.list", []);
    //       //this.objectsList = concat(this.objectsList, get(res.data, "data.list", []));
    //       //this.currentPage = get(res, "data.meta.current_page", 1);
    //       this.objectsList = this.objectsList.map((item, index) => {
    //             item["id"] = index;
    //             return item;
    //         });
            
    //         this.$emit('showLoading', false);
    //     })
    //     .catch(error => {
    //       console.error(error);
    //     });
    // },
    edit(row) {
        this.editedObject = row;
        this.isModalVisible = true;
    },
    reload() {
      this.load(this.type);
      //this.getData(this.type);
    },
    // clear() {
    //   this.getData = [];
    // },
    showModal() {
        this.isModalVisible = true;
    },
    closeModal(type) {
        this.editedObject = null;
        this.isModalVisible = false;
    },
    showAdd() {
        this.isModalVisible = true;
    },
    onCloseModal (value) {
      
      console.log("Callback from child : " , value);
      this.editedObject = null;
      
      if(value){
        toast.success('Success');
        this.reload();
      }
    },

    // search(){
    //   console.log('param', this.params);
    //   this.getData(this.type);
    // },

    onSelectBrand(event){
      let value = event.target.value;
      this.options.params.brand = value;
      this.load(this.type);
      
    },

    onSelectCategory(event){
      let value = event.target.value;
      this.options.params.category = value;
      this.load(this.type);
      
    },


    // buildUrl(url, query = {}){
    //   let params = Object.assign(query, this.params);
    //   var queryString = Object.keys(params).map(function(key) {
    //       if(params[key]){
    //         return key + '=' + params[key]
    //       }
          
    //   }).filter(function (el) {
    //       return el != null;
    //     }).join('&');
    //   return url + '?' + queryString;
    // }
    
  }
};
</script>
<style lang="scss" scope>
  .content-wrapper{
    &.object-wp{
      background-color:#fff;
    }
  }
  .add-button {
    cursor:pointer;
    font-size:40px;
  }
</style>