<template>
  <ContentWrapper class="profile-wp">
    <div class="content-heading justify-content-between">
      <h2>Categories Management</h2>
      <button class="btn btn-fprimary btn-add" @click="showModal()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <div class="content-body pl-0 pr-0">
      <!-- <v-client-table :data="categories" 
       :columns="['imageUrl', 'name','code', 'action']"
      :options="options" class="cms-table cms-table-ticket">
        
        <template slot="imageUrl" slot-scope="props" class="col-status text-center" >
          <img class="max-height-75" v-bind:src="props.row.imageUrl"/>
            
        </template>

        <template slot="name" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            <b>{{ props.row.name }}</b>
          </span>
        </template>
        <template slot="action" slot-scope="props">
          <div>
            <button class="btn btn-xs mr-1" @click.prevent="edit(props.row)"
            v-tooltip.bottom="{
              content: 'Edit Category',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="far fa-edit"></i>
            </button>
            <button class="btn btn-xs mr-1" @click.prevent="remove(props.row)"
             v-tooltip.bottom="{
              content: 'Delete Category',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="fa fa-trash"></i>
            </button>
            
            
          </div>
        </template>
      </v-client-table>-->
      <div class="cms-table table-responsive">
        <table class=" table table-striped table-bordered">
          <thead>
            <tr>
              
              <th class="">
                <span title class="VueTables__heading">Name</span>
                
              </th>
              
              <th class="width-percent-40">
                <span title class="VueTables__heading">Key</span>
                
              </th>
              <th class="width-100">
                <span title class="VueTables__heading">Image</span>
                
              </th>
              <th class="width-100">
                <span title class="VueTables__heading">Priority</span>
                
              </th>
              <th class="width-100">
                <span title class="VueTables__heading">Status</span>
                
              </th>
              <th class="width-100">
                <span title class="VueTables__heading">Action</span>
                
              </th>
            </tr>
          </thead>
          <tbody>
           
              <tr v-for="category in categories">
                
                <td class="width-percent-40">
                  <span class="badge-cms">
                    <b>
                      <span v-if="category.treeLevel == 2"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;------------| &nbsp;</span>
                      <span v-if="category.treeLevel == 3"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;------------|------------| &nbsp;</span>
                      {{category.name}}
                    </b>
                   
                  </span>
                </td>
                <td class="width-percent-40">{{category.key}}</td>

                <td class="width-100">
                  <img
                    v-bind:src="category.imageUrl"
                    class="max-height-75"
                  />
                </td>
                <td class="width-100">{{category.priority}}</td>
                <td class="width-100"><Status :value="category.status"/></td>
                <td class="width-100">
                  <div>
                    <button class="btn btn-xs mr-1 has-tooltip" @click.prevent="edit(category)"
                      v-tooltip.bottom="{
                        content: 'Edit Category',
                        loadingContent: 'Please wait...',
                        loadingClass: 'content-is-loading',
                      }">
                      <i class="far fa-edit"></i>
                    </button>
                    <button class="btn btn-xs mr-1 has-tooltip" @click.prevent="remove(category)"
                      v-tooltip.bottom="{
                        content: 'Delete Category',
                        loadingContent: 'Please wait...',
                        loadingClass: 'content-is-loading',
                      }">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>

              </tr>
              
              
         
            
            
          </tbody>
        </table>
      </div>  
    </div>

    <Modal
      v-on:childToParent="onCloseModal"
      v-on:closeChild="closeModal"
      v-if="openModalState"
      :category="editingCategory"
      :categories="dropdownCategories"
    />
  </ContentWrapper>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Vue from "vue";
import { ClientTable } from "vue-tables-2";
import { ApiCategories } from "../../config";
import apiCall from "../../helpers/apiCall";
import { get, concat } from "lodash";
import swal from "sweetalert";

import VTooltip from "v-tooltip";
import Modal from "./Modal/AddEdit.vue";
import toast from "../../helpers/toast";
import Status from "../../components/Partials/Status";

Vue.use(VTooltip);
Vue.use(ClientTable);

export default {
  components: {
    ClientTable,
    Modal,
    Status
  },
  mounted() {},
  data() {
    return {
      categories: [],
      parentCategories: [],
      dropdownCategories : [],
      isDeleting: false,
      openModalState: false,
      editingCategory: null
    };
  },
  created() {
    this.getData();
  },
  methods: {
    getData() {
      this.$emit("showLoading", true);
      //let url = `${ApiCategories}?page=${this.currentPage + 1}&per_page=${this.limit}`;
      let url = `${ApiCategories}`;
      apiCall("get", url)
        .then(res => {
          this.$emit("showLoading", false);
          this.parentCategories = get(res.data, "data.list", []);
          let tmp = [];
          let dropdown = [];
          this.parentCategories.forEach(function(value, key) {
             dropdown.push(value);
             tmp.push(value);
             value.sub_categories.forEach(function(sub_val, sub_key){
               dropdown.push(sub_val);
               tmp.push(sub_val);
               sub_val.sub_categories.forEach(function(sub_sub_val, sub_sub_key){
                tmp.push(sub_sub_val);
                
              });
             });
          });
          this.categories = tmp;
          this.dropdownCategories = dropdown;
        })
        .catch(error => {
          console.error(error);
        });
    },

    showModal() {
      this.openModalState = true;
    },

    remove(row) {
      //Show Notify
      swal({
        title: "Are you sure?",
        text:
          "Category " +
          row.name +
          " will be deleted, you will not be able to recover this!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
        customClass: "notifySwal"
      }).then(willDelete => {
        if (willDelete) {
          //this.isDeleting = true;
          this.$emit("showLoading", true);
          apiCall("delete", ApiCategories + "/" + row.key)
            .then(res => {
              console.log(res);
              swal("Delete succeeded!", {
                icon: "success"
              });
              //this.isDeleting = false;
              this.$emit("showLoading", false);
              // const i = _.findIndex(this.listData, { id: row.phone });
              // if (i >= 0) {
              //   this.listData.splice(i, 1);
              // }
              this.reload();
            })
            .catch(error => {
              console.error(error);
            });
        }
        // else {
        //   swal("Your style is safe!");
        // }
      });
    },

    reload() {
      this.getData();
    },

    edit(row) {
      this.editingCategory = row;
      this.openModalState = true;
    },

    closeModal() {
      console.log("normal close");
      this.openModalState = false;
      this.editingCategory = null;
    },

    onCloseModal(value) {
      console.log("Callback from child : ", value);
      this.editingCategory = null;
      if (value) {
        toast.success("Success");
        this.reload();
      }
    }
  }
};
</script>
<style lang="scss" scope>
.content-wrapper {
  &.profile-wp {
    background-color: #fff;
  }
}
</style>