<template>
  <ContentWrapper class="order-detail-wp">
    <div>
      <div class="content-heading">
        <h2>
          Order
          <span># {{ orderData.orderCode }}</span>
        </h2>
      </div>
      <div class="content-body pt-0">
        <div class="card-deck row clearfix margin-lr-7-5-plus mb-3">
          <div class="card cms-card margin-lr-7-5">
            <div class="card-body p-3">
              <div class="title-line">
                <h3>Order Info:</h3>
              </div>

              <div class="row clearfix">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="Title">Order Code:</label>
                    <p><strong>{{ orderData.orderCode }}</strong></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="Description">Order Status:</label>
                    <p><strong>{{ orderData.dataJson.order_status_text }}</strong></p>
                  </div>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="created_at">Create Date:</label>
                    <p><strong>{{ moment(orderData.dataJson.created_at).format('DD/MM/YYYY') }}</strong></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="updated_at">Updated At:</label>
                    <p><strong>{{ moment(orderData.dataJson.updated_at).format('DD/MM/YYYY') }}</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card cms-card margin-lr-7-5">
            <div class="card-body p-3">
              <div class="title-line">
                <h3>Payment method:</h3>
              </div>

              <div class="row clearfix">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="payment method">Name:</label>
                    <p><strong>{{ orderData.dataJson.payment_method_string }}</strong></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="Description">Status:</label>
                    <p><strong>{{ orderData.dataJson.payment_status }}</strong></p>
                  </div>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="created_at">Payment Provider:</label>
                    <p><strong>{{ orderData.dataJson.payment_provider }}</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card cms-card">
          <div class="card-body p-3">
            <div class="title-line">
              <h3>Order History:</h3>
            </div>

            <div class="card-body pl-0 pr-0">
              <table class="table table-fdefault mb-3">
                <colgroup>
                  <col width="20%"/>
                </colgroup>
                <thead>
                  <th>
                    <span>Item</span>
                  </th>
                  <th>
                    <span>SKU</span>
                  </th>
                  <!-- <th>
                    <span>Merchant</span>
                  </th> -->
                  <th>
                    <span>Price</span>
                  </th>
                  <th>
                    <span>Quantity</span>
                  </th>
                  <th>
                    <span>Status</span>
                  </th>
                  <th>
                    <span>Final Price</span>
                  </th>
                  <th>
                    <span>Updated at</span>
                  </th>
                </thead>
                <tbody v-if="orderData.dataJson.order_items != undefined && orderData.dataJson.order_items.length > 0">
                  <tr
                    class="table-detail-title"
                    v-for="item in orderData.dataJson.order_items"
                    v-bind:key="item.id">
                    <td>
                      <b-img style="width: 60px" :src="item.image"></b-img>
                    </td>
                    <td>
                      <span>{{ item.sku }}</span>
                    </td>
                    <!-- <td>
                      <span>{{ item.merchant }}</span>
                    </td> -->
                    <td>
                      <span>{{ item.price }}</span>
                    </td>
                    <td>
                      <span>{{ item.quantity }}</span>
                    </td>
                    <td>
                      <span>{{ item.status }}</span>
                    </td>
                    <td>
                      <span>{{ item.final_price }}</span>
                    </td>
                    <td>
                      <span>{{ moment(item.updated_at).format('DD/MM/YYYY') }}</span>
                    </td>
                  </tr>
                </tbody>
                <tbody v-if="orderData.dataJson.order_items == undefined && orderData.dataJson.order_items == null">
                  <tr class="no-result">
                    <p>No Data</p>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="card-deck row clearfix margin-lr-7-5-plus">
            <div class="card cms-card margin-lr-7-5">
                <div class="card-body p-3">
                    <div class="title-line">
                    <h3>Shipping Info:</h3>
                    </div>

                    <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="Title">Name:</label>
                          <p><strong>{{ orderData.dataJson.shipping_name }}</strong></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="shipping_phone">Phone:</label>
                          <p><strong>{{ orderData.dataJson.shipping_phone }}</strong></p>
                        </div>
                    </div>
                    </div>
                    <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="shipping_method">Shipping method:</label>
                          <p><strong>{{ orderData.dataJson.shipping_method_string }}</strong></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="shipping_address">Shipping Address:</label>
                          <p><strong>{{ orderData.dataJson.shipping_address_string }}</strong></p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="card cms-card margin-lr-7-5">
            <div class="card-body p-3">
                <div class="title-line">
                <h3>Billing Info:</h3>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="billing_name">Name:</label>
                          <p><strong>{{ orderData.dataJson.billing_name }}</strong></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="billing_phone">Phone:</label>
                          <p><strong>{{ orderData.dataJson.billing_phone }}</strong></p>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                  <div class="col-md-6">
                      <div class="form-group">
                        <label for="billing_email">Email:</label>
                        <p><strong>{{ orderData.dataJson.billing_email }}</strong></p>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                        <label for="billing_address">Billing Address:</label>
                        <p><strong>{{ orderData.dataJson.billing_address_string }}</strong></p>
                      </div>
                  </div>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </ContentWrapper>
</template>
        
<script>
import Vue from "vue";
import { mapGetters, mapActions, mapState } from "vuex";
import moment from 'moment';
export default {
  created() {
    // this.getDataById();
  },
  mounted() {
    if (this.$route.params.id) {
      this.getDataById(this.$route.params.id);
    }
  },
  computed: mapGetters(["getOrderData"]),
  data() {
    return {
    moment,
      orderData: {
          dataJson: {
              merchant:{},
              order_items:[],
              shipping_address: {},
              
          }
      }
    };
  },
  methods: {
    ...mapActions(["getOrderById"]),
    getDataById(id) {
      this.$emit("showLoading", true);
      this.getOrderById(id).then(res => {
        setTimeout(() => {
          this.orderData = this.getOrderData;
          console.log("orderData", this.orderData);
          this.$emit("showLoading", false);
        }, 500);
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.form-control{
  &.border-none{
    border:none;
    padding-left:0;
  }
}
</style>