

<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal modal-sm"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            <span v-if="materialBrand">Edit Material Brand {{materialBrand.name}}</span>
            <span v-else>Create MaterialBrand</span>
            <button
              type="button"
              class="btn-close"
              @click="close"
              aria-label="Close modal"
            >
              x
            </button>
          </slot>
        </header>
        <div
          class="modal-body"
          id="modalDescription"
        >


          <div class="content-body profile-form">
        <!-- Using Commont -->
            <div class="align-items-center">
              <div class="form-group">
                <UploadImage :src="formData.imageUrl" v-on:getImage="childFromParent"/>
              </div>  

              <div class="form-group">
                <label for="name">Name *</label>
                <input
                  type="text"
                  v-model="formData.name"
                  class="form-control"
                  id="name" name="name"
                  placeholder="Name" v-bind:class="{ errors: errors.has('name')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('name')">{{errors.first('name')}}</span>
              </div>

              <div class="form-group">
                <label for="name">Code *</label>
                <input
                  type="text"
                  :disabled="materialBrand"
                  v-model="formData.code"
                  class="form-control"
                  id="code" name="code"
                  placeholder="Code" v-bind:class="{ errors: errors.has('code')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('code')">{{errors.first('code')}}</span>
              </div>
          
              <div class="form-group">
                <label for="status">Status</label>
                <select id="status" name="status" class="form-control" v-model="formData.status">
                    <option></option>
                    <option v-for="(item, index) in status" :value="index">
                      {{ item}}
                    </option>
                </select>
              </div>
            </div>
          </div>

        </div>
        <footer class="modal-footer">
          <slot name="footer">
           <button 
              type="button"
              class="btn-black"
              @click.self.prevent="validateAndSave" 
              :disabled="$store.state.isSaving"
              aria-label="Save modal"
            >
              Save
            </button>

            <button
              type="button"
              class="btn-white"
              @click="close"
              aria-label="Close modal"
            >
              Close
            </button>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
  import Vue from "vue";
  import VeeValidate from 'vee-validate';
  import { ApiMaterialBrands, ApiUploadMaterialBrandThumb, STATUS_LIST } from "../../../config"; 
  import apiCall from "../../../helpers/apiCall";
  import apiBinaryPost from "../../../helpers/apiBinaryPost";
  import UploadImage from "../../../components/Partials/UploadImage";

  Vue.use(VeeValidate)

  export default {
    name: 'Modal',
    props : ['materialBrand'],
    components: {
      UploadImage
    },
    data() {
      return {
        formData : {
          
        },
        status: STATUS_LIST,
        image:null,
        imageUrl: null,

        updatedMaterialBrand: null

      }
    },
    created() {
      this.initData();
    },
    
    methods: {
      initData() {

        this.initMaterialBrand();
      },

      initMaterialBrand(){
        let materialBrand = this.materialBrand;
        this.formData = Object.assign(this.formData, materialBrand);
      },

      validateAndSave(){
        this.$validator.validateAll().then(valid => {
          console.log(this.materialBrand)
          if(valid){
            if(this.materialBrand){
              this.edit();
            }
            else{
              this.create();
            }

          }
        });
        
      },
      
      edit(){
          let url = `${ApiMaterialBrands}/${this.materialBrand.code}`; 
         
          apiCall('put', url, this.formData).then(res => {  
              console.log("done Editing: ", res);
              this.updatedMaterialBrand = res.data.data || null;

              if(this.image){
                  let formImage = new FormData();
                  let urlUploadThumb = `${ApiUploadMaterialBrandThumb}`; 
                  formImage.append('image', this.image);
                  formImage.append('code', this.formData.code);
                  apiBinaryPost(urlUploadThumb, formImage).then(upres => { 
                            this.close();
                        }).catch(uerr => {
                            console.log('upload err',uerr);
                        });;
                }else{
                  this.close(); 
                }
                      
             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },

      create(){
          let url = `${ApiMaterialBrands}`; 
          
          apiCall('post', url, this.formData).then(res => {  
              console.log("done creating: ", res);
              this.updatedMaterialBrand = res.data.data || null;

              if(this.image){
                  let formImage = new FormData();
                  let urlUploadThumb = `${ApiUploadMaterialBrandThumb}`; 
                  formImage.append('image', this.image);
                  formImage.append('code', this.formData.code);
                  apiBinaryPost(urlUploadThumb, formImage).then(upres => { 
                            this.close();
                        }).catch(uerr => {
                            console.log('upload err',uerr);
                        });;
                }else{
                  this.close(); 
                }  

             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },


      close() {  
        this.$emit('closeChild');
        if(this.updatedMaterialBrand){
          this.$emit('childToParent', this.updatedMaterialBrand);
        }
      },

      childFromParent(arg){
        this.image = arg;
      }

    },
  };
</script>

<style>
 .inputfile-box {
  position: relative;
}

.inputfile {
  display: none;
}

.container {
  display: inline-block;
  width: 100%;
}

.file-box {
  display: inline-block;
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
  box-sizing: border-box;
  height: calc(2rem - 2px);
}

.file-button {
  background: black;
  padding: 5px;
  color:white;
  position: absolute;
  
  top: 0px;
  right: 0px;
}
.custom-checkbox input {
  display: block;
  float: left;
  width: 50%;
}
</style>