

<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal modal-sm"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            <span v-if="material">Edit material {{material.name}}</span>
            <span v-else>Create Material</span>
            <button
              type="button"
              class="btn-close"
              @click="close"
              aria-label="Close modal"
            >
              x
            </button>
          </slot>
        </header>
        <div
          class="modal-body"
          id="modalDescription"
        >


          <div class="content-body profile-form">
        <!-- Using Commont -->
            <div class="align-items-center">
              <div class="form-group">
                <UploadImage :src="formData.imageUrl" v-on:getImage="getImageFromChild"/>
              </div>  

              <div class="form-group">
                <label for="displayName">Old Version </label>
                 <File :src="formData.assetBundle" v-on:getFile="getFileFromChild"/>
              </div>

              <div class="form-group">
                  <label for="displayName">Version 2018 </label>
                  <File :src="formData.versionAssetBundle.v2018.assetBundle" :extra="'v2018'" v-on:getFile="getFileFromChild"/>
                </div>

                <div class="form-group">
                  <label for="displayName">Version 2019 </label>
                  <File :src="formData.versionAssetBundle.v2019.assetBundle" :extra="'v2019'" v-on:getFile="getFileFromChild"/>
                </div>

                <div class="form-group">
                  <label for="displayName">Version 2020 </label>
                  <File :src="formData.versionAssetBundle.v2020.assetBundle" :extra="'v2020'" v-on:getFile="getFileFromChild"/>
                </div>


              <div class="form-group">
                <label for="name">Name *</label>
                <input
                  type="text"
                  v-model="formData.name"
                  class="form-control"
                  id="name" name="name"
                  placeholder="Name" v-bind:class="{ errors: errors.has('name')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('name')">{{errors.first('name')}}</span>
              </div>

              <div class="form-group">
                <label for="name">Code *</label>
                <input
                  type="text"
                  :disabled="material"
                  v-model="formData.code"
                  class="form-control"
                  id="code" name="code"
                  placeholder="Code" v-bind:class="{ errors: errors.has('code')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('code')">{{errors.first('code')}}</span>
              </div>

              <div class="form-group">
                <label for="name">Market Code </label>
                <input
                  type="text"
                  v-model="formData.marketCode"
                  class="form-control"
                  id="marketCode" name="marketCode"
                  placeholder="Market Code"
                />
              </div>
              

              <!-- <div class="form-group">
                <label for="phone">Type *</label>
                <select v-bind:class="{ errors: errors.has('type')  }" v-validate="'required'" id="type" name="type" class="form-control" v-model="formData.type">

                    <option v-for="(name, type) in types" :value="type">
                      {{ name}}
                    </option>
                </select>
                 <span class="errors" v-if="errors.has('type')">{{errors.first('type')}}</span>
              </div> -->
              
              <div class="form-group">
                <div class="custom-control custom-checkbox float-left width-percent-33">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          name="isWall"
                          id="isWall"
                          v-model="formData.attrs.isWall"
                        >
                        <label for="isWall" class="custom-control-label">isWall</label>
                </div>
              </div>

              <div class="form-group">
                <div class="custom-control custom-checkbox float-left width-percent-33">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          name="isFloor"
                          id="isFloor"
                          v-model="formData.attrs.isFloor"
                        >
                        <label for="isFloor" class="custom-control-label">isFloor</label>
                </div>
              </div>

              <div class="form-group">
                <div class="custom-control custom-checkbox float-left width-percent-33">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          name="isCeiling"
                          id="isCeiling"
                          v-model="formData.attrs.isCeiling"
                        >
                        <label for="isCeiling" class="custom-control-label">isCeiling</label>
                </div>
              </div>

              <div class="form-group">
                <label for="status">Status</label>
                <select id="status" name="status" class="form-control" v-model="formData.status">
                    <option></option>
                    <option v-for="(item, index) in status" :value="index">
                      {{ item}}
                    </option>
                </select>
              </div>
            
              <div class="form-group">
                <label for="phone">Category</label>
                <select id="category" name="category" class="form-control" v-model="formData.category">
                    <option></option>
                    <option v-for="item in categories" :value="item.code">
                      {{ item.name}}
                    </option>
                </select>
              </div>

              <div class="form-group">
                <label for="phone">Brand</label>
                <select id="brand" name="brand" class="form-control" v-model="formData.brand">
                    <option></option>
                    <option v-for="item in brands" :value="item.code">
                      {{ item.name}}
                    </option>
                </select>
              </div>

              <div class="form-group">
                <label for="price">Price </label>
                <input
                  type="number"
                
                  v-model="formData.attrs.price"
                  step="1"
                  class="form-control"
                  id="price" name="price"
                  placeholder="price..."
                />
                
              </div>


              <div class="form-group">
                <label for="dimension">Dimension</label>
                <div class="input-group">
                  <input
                  type="number"
    
                  v-model="formData.dimension.l"
                  class="form-control"
                  step="0.01"
                  placeholder="length"
                />
                <span class="input-group-addon" style="padding: 5px 10px 5px 10px;">x</span>
                <input
                
                  type="number"
                  
                   v-model="formData.dimension.w"
                  class="form-control"
                  step="0.01"
                  placeholder="width"
                />
                </div>
              </div>

              <div class="form-group">
                <label for="description">Description</label>
                <textarea
                  type="text"
                  v-model="formData.description"
                  class="form-control"
                  id="description"
                  placeholder="Input here ..."
                  name="description"
                  rows=3
                 
                ></textarea>
                
              </div>
            </div>
          </div>

        </div>
        <footer class="modal-footer">
          <slot name="footer">
           <button 
              type="button"
              class="btn-black"
              @click.self.prevent="validateAndSave" 
              :disabled="$store.state.isSaving"
              aria-label="Save modal"
            >
              Save
            </button>

            <button
              type="button"
              class="btn-white"
              @click="close"
              aria-label="Close modal"
            >
              Close
            </button>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
  import Vue from "vue";
  import VeeValidate from 'vee-validate';
  import { ApiMaterials, ApiUploadMaterialThumb, ApiUploadMaterialAssetBundle, MATERIAL_TYPES, STATUS_LIST } from "../../../config"; 
  import apiCall from "../../../helpers/apiCall";
  import apiBinaryPost from "../../../helpers/apiBinaryPost";
  import UploadImage from "../../../components/Partials/UploadImage";
  import File from "../../../components/Partials/File";
  import Status from "../../../components/Partials/Status";

  Vue.use(VeeValidate)

  export default {
    name: 'Modal',
    props : ['material', 'categories', 'brands'],
     components: {
      UploadImage,
      File,
      Status
    },
    data() {
      return {
        status: STATUS_LIST,
        formData : {
          versionAssetBundle : {
            v2018 :{
              assetBundle: null
            },
            v2019 :{
              assetBundle: null
            },
            v2020 :{
              assetBundle: null
            }
          },
          dimension : {
              l : 0,
              w : 0
          },
          attrs : {
            isWall: false,
            isCeiling: false,
            isFloor: false,
            price: 0
          }
        },
      //  types : MATERIAL_TYPES,
        image:null,
        imageUrl: null,
        file: {
          "v2018" :null,
          "v2019" :null,
          "v2020" :null
        },
        fileSingle: null,
        updatedMaterial: null

      }
    },
    created() {
      this.initData();
    },
    
    methods: {
      initData() {

        this.initMaterial();
      },

      initMaterial(){
        let material = this.material;
        this.formData = Object.assign(this.formData, material);
      },

      validateAndSave(){
        this.$validator.validateAll().then(valid => {
          console.log(this.material)
          if(valid){
            if(this.material){
              this.edit();
            }
            else{
              this.create();
            }

          }
        });
        
      },
      
      edit(){
          let url = `${ApiMaterials}/${this.material.code}`; 
          let urlUploadThumb = `${ApiUploadMaterialThumb}`; 
          let urlUploadAssetBundle = `${ApiUploadMaterialAssetBundle}`; 
          apiCall('put', url, this.formData).then(res => {  
              console.log("done Editing: ", res);
              this.updatedMaterial = res.data.data || null;

              let arrayPromise = [];
              // if (this.file){
              //     let formFile = new FormData();
              //     formFile.append('file', this.file);
              //     formFile.append('code', this.formData.code);
              //     arrayPromise.push(apiBinaryPost(urlUploadAssetBundle, formFile));
              // }
              
              if(this.fileSingle){
                  let formData = new FormData();
                  formData.append('file', this.fileSingle);
                  formData.append('code', this.formData.code);
                  arrayPromise.push(apiBinaryPost(urlUploadAssetBundle, formData));
              }
                
              let arraykeys = Object.keys(this.file);
              let files = this.file;
              let thisformData = this.formData;
              arraykeys.forEach(function(key){
                 let file = files[key];
                 if (file){
                    let formData = new FormData();
                    formData.append('file', file);
                    formData.append('code', thisformData.code);
                    arrayPromise.push(apiBinaryPost(urlUploadAssetBundle, formData, {headers : {Version: key}}));
                 }

              });
              
              if(this.image){
                  let formImage = new FormData();
                  formImage.append('image', this.image);
                  formImage.append('code', this.formData.code);
                  arrayPromise.push(apiBinaryPost(urlUploadThumb, formImage));
              }
              if (arrayPromise.length){
                Promise.all(arrayPromise)
                        .then(resPromise => { 
                            console.log("upload res: ", resPromise);
                            this.close();
                        }).catch(errorPromise => {
                            console.log('upload err',errorPromise);
                        });
              }else{
                    console.log("done Editing: ", res);
                    this.close();
              }
                      
             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },

      create(){
          let url = `${ApiMaterials}`; 
          let urlUploadThumb = `${ApiUploadMaterialThumb}`; 
          let urlUploadAssetBundle = `${ApiUploadMaterialAssetBundle}`; 
          apiCall('post', url, this.formData).then(res => {  
              console.log("done creating: ", res);
              this.updatedMaterial = res.data.data || null;

              let arrayPromise = [];
              // if (this.file){
              //     let formFile = new FormData();
              //     formFile.append('file', this.file);
              //     formFile.append('code', this.formData.code);
              //     arrayPromise.push(apiBinaryPost(urlUploadAssetBundle, formFile));
              // }
              
              if(this.fileSingle){
                  let formData = new FormData();
                  formData.append('file', this.fileSingle);
                  formData.append('code', this.formData.code);
                  arrayPromise.push(apiBinaryPost(urlUploadAssetBundle, formData));
              }
                
              let arraykeys = Object.keys(this.file);
              let files = this.file;
              let thisformData = this.formData;
              arraykeys.forEach(function(key){
                 let file = files[key];
                 if (file){
                    let formData = new FormData();
                    formData.append('file', file);
                    formData.append('code', thisformData.code);
                    arrayPromise.push(apiBinaryPost(urlUploadAssetBundle, formData, {headers : {Version: key}}));
                 }

              });

              if(this.image){
                  let formImage = new FormData();
                  formImage.append('image', this.image);
                  formImage.append('code', this.formData.code);
                  arrayPromise.push(apiBinaryPost(urlUploadThumb, formImage));
              }
              if (arrayPromise.length){
                Promise.all(arrayPromise)
                        .then(resPromise => { 
                            console.log("upload res: ", resPromise);
                            this.close();
                        }).catch(errorPromise => {
                            console.log('upload err',errorPromise);
                        });
              }else{
                    console.log("done Editing: ", res);
                    this.close();
              }

             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },


      close() {  
        this.$emit('closeChild');
        if(this.updatedMaterial){
          this.$emit('childToParent', this.updatedMaterial);
        }
      },

      getImageFromChild(arg){
        this.image = arg;
      },

      getFileFromChild(arg, version){  
        if(version){
          this.file[version] = arg;
        }
        else{
          this.fileSingle = arg;
        }
      }

    },
  };
</script>

<style>
 .inputfile-box {
  position: relative;
}

.inputfile {
  display: none;
}

.container {
  display: inline-block;
  width: 100%;
}

.file-box {
  display: inline-block;
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
  box-sizing: border-box;
  height: calc(2rem - 2px);
}

.file-button {
  background: black;
  padding: 5px;
  color:white;
  position: absolute;
  
  top: 0px;
  right: 0px;
}
.custom-checkbox input {
  display: block;
  float: left;
  width: 50%;
}
</style>