<template>
    <div class="wrapper">

        <!-- top navbar-->
        <Header @searchMsg="doSearch"/>

        <!-- sidebar-->
        <Sidebar @hideSearch="hideSearch" />

        <!-- offsidebar-->
        <!-- <Offsidebar @hideSearch="hideSearch" /> -->

        <!-- Main section-->
        <section class="section-container">
            <!-- Page content-->
            <Spinners v-show="loading || spinnerWhileUpload" />
            <router-view v-show="!isSearch && !loading" @showLoading="showLoading" @showSpinnerWhileUpload="showSpinnerWhileUpload" />
            <!-- <Search v-show="isSearch && !loading" :msg="msg" @showLoading="showLoading"  @hideSearch="hideSearch" /> -->
            
        </section>

        <!-- Page footer-->
        <Footer />

    </div>
</template>

<script>
    import Vue from 'vue';
    import Header from './Header'
    import Sidebar from './Sidebar'
    // import Offsidebar from './Offsidebar'
    import Footer from './Footer'
    import ContentWrapper from './ContentWrapper'
    import Search from './Search'
    import Spinners from '../../views/Parts/Spinners'

    Vue.component('ContentWrapper', ContentWrapper)

    export default {
        name: 'Layout',
        data() {
          return {
             isSearch: false,
             msg: '',
             loading: true,
             spinnerWhileUpload : false
          }
        },
        mounted(){
            this.isSearch= false;
        },
        methods: {
            doSearch(msg) {
                this.isSearch = true;
                this.msg = msg;
            },
            hideSearch(){
                this.msg ='',
                this.isSearch = false;
            },
            showLoading(value){
                this.loading = value;
            },
            showSpinnerWhileUpload(value){
                this.spinnerWhileUpload = value;
            }
        },
        components: {
            Header,
            Search,
            Sidebar,
            // Offsidebar,
            Spinners,
            Footer
        }
    }
</script>