<template>
  <ContentWrapper class="dashboard-wp">
    <div class="content-heading row clearfix d-none">
      <h2 class="col-md-4">Search</h2>
    </div>
    <div class="content-body mb-4">
      <div class="search-result" v-if="(this.msg == null)">
        <h2>Search result not found</h2>
      </div>
      <div class="search-result" v-if="(this.msg != null && this.msg.length >= 0)">
        <h2>Search result for "{{this.msg }}"</h2>
      </div>

      <div class="card-deck search-content card-flex-column"
        v-if="itemCustomers != null && itemCustomers.length > 0">
        <div class="card cms-card cms-card-customer mb-4 pl-0 pr-0 pt-1"
          v-for="item in itemCustomers"
          v-bind:key="item.Id">
          <div class="title-line pl-3 mb-0 pb-0">
            <h3> <em class="icon-user mr-2 d-none"></em>Customer Information</h3>
            <div class="btn-dropdown btn-dropdown-more">
                <a class="fa fa-ellipsis-v"></a>
                <b-dropdown size="lg" variant="link" toggle-class="text-decoration-none" no-caret right>
                  <b-dropdown-item @click="createdTicket()">Add new tickets</b-dropdown-item>
                  <b-dropdown-item :to="`/profile/${item.Phone}`">
                     More
                  </b-dropdown-item>
                </b-dropdown>
            </div>
           
          </div>
          <div class="card-body">
            <div class="card-ico">
              <p class="card-txt">
                <label>Name</label>
                <span>{{item.Name}}</span>
              </p>
            </div>
            <div class="card-ico">
              <p class="card-txt">
                <label>Phone</label>
                <span>{{item.Phone}}</span>
              </p>
            </div>
            <div class="card-ico">
              <p class="card-txt">
                <label>Email</label>
                <span>{{item.Email}}</span>
              </p>
            </div>
            <div class="card-ico">
              <p class="card-txt">
                <label>Type</label>
                <span>{{item.Type}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="search-result" v-if="
      ((itemCustomers == null || itemCustomers.length == 0) && 
      (itemOrders != null || itemOrders.length > 0))|| 
      ((itemCustomers == null || itemCustomers.length == 0) && 
      (itemTickets != null || itemTickets.length > 0))">
        <button class="btn btn-fprimary w-10" v-b-modal.modal-tickets>
            <i class="fa fa-plus mr-2"></i> Add New Tickets
          </button>
      </div>

        <div class="card cms-card mb-4"
          v-if="itemTickets !== undefined && itemTickets.length > 0">
          <div class="title-line pl-3 mb-0 pb-0">
            <h3><em class="icon-tag mr-2 d-none"></em> Ticket Information</h3>
          </div>
          <div class="card-body cms-table">
            <b-table responsive striped hover :items="itemTickets" :fieldsTicket="fieldsTicket">
              <template slot="Action" slot-scope="props">
                <div>
                  <b-btn variant="outline-info mr-2" class="btn-xs" @click.prevent="view(props.item)">
                    <em class="fa fa-edit"></em>
                  </b-btn>
                </div>
              </template>
            </b-table>
          </div>
        </div>
 
        <div class="card cms-card" v-if="itemOrders != undefined && itemOrders.length > 0">
          <div class="title-line pl-3 mb-0 pb-0">
            <h3><em class="fas fa-list-ul mr-2 d-none"></em> Order Information</h3>
          </div>
          <div class="card-body cms-table">
            <b-table responsive striped hover :items="itemOrders" :fieldsOrder="fieldsOrder"></b-table>
          </div>
        </div>
    
      
      <div class="search-result"
        style="height: 100vh;"
        v-if="(itemCustomers == null || itemCustomers.length == 0) &&
        (itemOrders == null || itemOrders.length == 0) &&
        (itemTickets == null || itemTickets.length == 0)">
        <div class="search-result-notfound">
          <h3>Sorry, but you are looking for something that it's not found.</h3>
          <button class="btn btn-fprimary" v-b-modal.modal-tickets>
            <i class="fa fa-plus mr-2"></i> Add New Tickets
          </button>
        </div>
      </div>
    </div>

    <NewTicket @refesh-list="reload()"/>
  </ContentWrapper>
</template>

<script>
import { mapGetters, mapActions, mapState } from "vuex";
import { URLTickets, URLProfile,URLSearch } from "../../config"; 
import { ClientTable } from "vue-tables-2";
import NewTicket from "@/views/Parts/NewTicket";
export default {
  name: "Search",
  components: {
    ClientTable,
    NewTicket
  },
  props: {
    msg: {
      type: String
    }
  },
  data() {
    return {
      itemCustomers: [],
      itemTickets: [],
      fieldsTicket: [
        "Ticket Id ",
        "Phone",
        "Type",
        "Title",
        "Description",
        "Phone",
        "Status",
        // "Action"
      ],
      itemOrders: [],
      fieldsOrder: [
        "Order Code",
        "payment method",
        "price",
        "shipping method",
        "billing address",
        "updated at",
        "Status Order",
      ]
    };
  },
  computed: mapGetters(["searchResult"]),
  methods: {
    ...mapActions(["getSearch"]),
    showSearchResult(msg) {
      this.$emit("showLoading", true);
      this.getSearch(msg).then(res => {
        setTimeout(() => {
          this.$emit("showLoading", false);
          this.itemTickets = this.fillUpTickets(this.searchResult.tickets.list);
          this.itemOrders = this.fillUpOrderInfo(this.searchResult.orders.list);
         
          this.itemCustomers = this.fillUpCustomerInfo(this.searchResult.customers.list);
           console.log('  this.itemOrders', this.itemOrders);
        }, 500);
      });
    },

    fillUpCustomerInfo(items) {
      return items.map(item => {
        return {
          Id: item._id,
          Name: item.name,
          Email: item.email,
          Phone: item.phone,
          Type: item.type
        };
      });
    },

    fillUpTickets(items) {
      return items.map(item => {
        return {
          Ticket_Id: item.ticketId,
          Type: item.type,
          Title: item.title,
          Description: item.description,
          Phone: item.phone,
          Status: item.status
        };
      });
    },

    fillUpOrderInfo(items) {
      return items.map(item => {
        return {
          orderCode: item.orderCode,
          payment_method: item.dataJson.payment_method,
         // final_price: item.dataJson.final_price,
          shipping_method_string: item.dataJson.shipping_method_string,
          billing_address: item.dataJson.billing_address_string,
          updated_at: item.dataJson.updated_at,
          Status_Order: item.status
        };
      });
    },

    hideSearch(){
      this.$emit('hideSearch');
    },

    reload() {
      if(this.msg == null){
          this.$router.push(`${URLSearch}`); 
      }else{
          this.$router.push(`${URLSearch}?q=${this.msg}`);
      }
    },
    
    createdTicket() {
      this.$root.$emit("bv::show::modal", "modal-tickets");
    }
  },
  watch: {
    msg: function() {
      this.showSearchResult(this.msg);
      console.log("this.msg", this.msg);
    }
  }
};
</script>

<style lang="scss" scoped>
.card-deck{
  .cms-card{
    &.cms-card-customer .btn-dropdown.btn-dropdown-more{
      .nav-link{
        padding:0 15px;
        color:#333;
      }
    }
  }
}
.search-result {
  padding: 30px;
  text-align: center;
  background: #fff;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  position: relative;
  .search-result-notfound {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 30%;

    .btn.btn-fprimary {
      margin-top: 20px;
      text-transform: uppercase;
      height: 40px;
    }
  }
}
</style>