

<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal modal-xl"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            <span v-if="page">Edit page {{page.name}}</span>
            <span v-else>Create Page</span>
            <button
              type="button"
              class="btn-close"
              @click="close"
              aria-label="Close modal"
            >
              x
            </button>
          </slot>
        </header>
        <div
          class="modal-body"
          id="modalDescription"
        >


          <div class="content-body profile-form">
        <!-- Using Commont -->
            <div class="align-items-center">

              <div class="form-group">
                <label for="name">Name *</label>
                <input
                  type="text"
                  v-model="formData.name"
                  class="form-control"
                  id="name" name="name"
                  placeholder="Name" v-bind:class="{ errors: errors.has('name')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('name')">{{errors.first('name')}}</span>
              </div>

              <div class="form-group">
                <label for="name">Code *</label>
                <input
                  type="text"
                  :disabled="page"
                  v-model="formData.code"
                  class="form-control"
                  id="code" name="code"
                  placeholder="Code" v-bind:class="{ errors: errors.has('code')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('code')">{{errors.first('code')}}</span>
              </div>

              <div class="form-group">
                <label for="name">Description</label>
                <textarea
                  type="text"
                  v-model="formData.metadata.description"
                  class="form-control"
                  id="description" name="description"
                  placeholder="Description..." style="resize: none;"
                ></textarea>
               
              </div>

              <div class="form-group">
                <label>Content</label>
               <ckeditor :editor="option.editor" v-model="formData.metadata.content" :config="option.config"></ckeditor>
              </div>
            </div>
          </div>

        </div>
        <footer class="modal-footer">
          <slot name="footer">
           <button 
              type="button"
              class="btn-black"
              @click.self.prevent="validateAndSave" 
              :disabled="$store.state.isSaving"
              aria-label="Save modal"
            >
              Save
            </button>

            <button
              type="button"
              class="btn-white"
              @click="close"
              aria-label="Close modal"
            >
              Close
            </button>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
  import Vue from "vue";
  import VeeValidate from 'vee-validate';
  import { ApiPages, ApiUploadPageThumb } from "../../../config"; 
  import apiCall from "../../../helpers/apiCall";
  import apiBinaryPost from "../../../helpers/apiBinaryPost";
  import UploadImage from "../../../components/Partials/UploadImage";
  import CKEditor from '@ckeditor/ckeditor5-vue';
  import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

  Vue.use(VeeValidate)
  Vue.use(CKEditor)

  export default {
    name: 'Modal',
    props : ['page'],
     components: {
      UploadImage,
      //CKEditor,
      ClassicEditor,
      ckeditor: CKEditor.component
    },
    data() {
      return {
        option : {
          config : {
           
          },
          editor : ClassicEditor
        },

        formData : {
          metadata : {
            content: null,
            description: null
          }
        },
        
        updatedPage: null

      }
    },
    created() {
      this.initData();
    },
    
    methods: {
      initData() {

        this.initPage();
      },

      initPage(){
        let page = this.page;
        this.formData = Object.assign(this.formData, page);
      },

      validateAndSave(){
        this.$validator.validateAll().then(valid => {
          console.log(this.page)
          if(valid){
            if(this.page){
              this.edit();
            }
            else{
              this.create();
            }

          }
        });
        
      },
      
      edit(){
          let url = `${ApiPages}/${this.page.code}`; 
          
          apiCall('put', url, this.formData).then(res => {  
              console.log("done Editing: ", res);
              this.updatedPage = res.data.data || null;
              this.close();

                      
             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },

      create(){
          let url = `${ApiPages}`; 
          
          apiCall('post', url, this.formData).then(res => {  
              console.log("done creating: ", res);
              this.updatedPage = res.data.data || null;

              this.close();
             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },


      close() {  
        this.$emit('closeChild');
        if(this.updatedPage){
          this.$emit('childToParent', this.updatedPage);
        }
      },


    },
  };
</script>

<style>
 .inputfile-box {
  position: relative;
}

.inputfile {
  display: none;
}

.container {
  display: inline-block;
  width: 100%;
}

.file-box {
  display: inline-block;
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
  box-sizing: border-box;
  height: calc(2rem - 2px);
}

.file-button {
  background: black;
  padding: 5px;
  color:white;
  position: absolute;
  
  top: 0px;
  right: 0px;
}
.custom-checkbox input {
  display: block;
  float: left;
  width: 50%;
}
</style>