<template>
  <ContentWrapper class="issues-wp">
    <div class="content-heading">
      <h2>Issues Management</h2>
      <div class="ml-auto">
        <button class="btn btn-fprimary btn-add-issue mb-2" type="submit" v-b-modal.modal-tickets>
          <em class="fas fa-plus"></em> Add new
        </button>
      </div>
    </div>

    <div class="content-body mb-4">
      <div v-drag-and-drop:options="options">
        <ul class="drag-list">
          <li v-for="group in groups" :key="group.id"  class="drag-column card cms-card draggeble-card margin-lr-7-5 height-100vh">
            <span class="card-header badge-cms badge txt-badge text-center d-block" :class="group.className">
              <div class="flex-1">
                <h5 class="mt-0">{{ group.name }}</h5>
              </div>
            </span>
            
            <vue-draggable-group
              v-model="group.items"
              :groups="groups"
              :data-id="group.id">
              <ul class="drag-inner-list" :data-id="group.id">
                <li class="drag-item" v-for="item in group.items" :key="item.id" :data-id="item.id" :data-ticket-id="item.ticketId">
                  <!-- <div class="drag-item-text">{{ item.name }}</div> -->
                  <div class="card-box-item">
                      <div class="card-box-header">
                        <div class="title pt-3 pb-1">
                          <strong style="text-transform: capitalize;">{{ item.title }}</strong>
                        </div>

                        <button class="btn-ico pr-0" @click.prevent="edit(item)">
                          <i class="far fa-edit"></i>
                        </button>
                      </div>
                      <ul class="card-box-txt pl-0">
                        <li>
                          <label>Ticket ID :</label>
                          <span>{{ item.ticketId  }}</span>
                        </li>
                        <li>
                          <label>Type Ticket:</label>
                          <strong class="badge-cms badge badge-xs badge-border-dark">{{ item.type }}</strong>
                        </li>
                        <li>
                          <label>description :</label>
                          <span>{{ item.description }}</span>
                        </li>
                        <li>
                          <label>phone :</label>
                          <span>{{ item.phone }}</span>
                        </li>
                      </ul>
                    </div>
                </li>
              </ul>
            </vue-draggable-group>
          </li>
        </ul>
      </div>
      <!--#END card-->
    </div>
  
  </ContentWrapper>
</template>

<script>
import Vue from "vue";
import { mapGetters, mapActions, mapState } from "vuex";
import { URLTickets } from "../../config";
const TypesTickets = ["Order", "Support"];
import VueDraggable from "vue-draggable";

Vue.use(VueDraggable);
export default {
  computed:{
    ...mapGetters(["getTicketData"]),
  },
  created() {
    this.getData();
  },
  data() {
    return {
      ticketData: [],
      groups: [],
      options: {
        dropzoneSelector: ".drag-inner-list",
        draggableSelector: ".drag-item",
        onDrop: function(event) {
          this.updateTicketProgress( event.items[0].dataset.ticketId, event.droptarget.dataset.id);
        }
      },
      status:""
    };
  },
  methods: {
    ...mapActions(["getTicket", "postTicketProgress"]),
    mounted(){
      this.getData();
    },
    getData(){
      this.$emit('showLoading', true)
      new Promise((res, rej)=>{
         this.getTicket().then(data => {
          this.ticketData = [...data]
          this.ticketData = this.ticketData.map((item, index) => {
                item["id"] = index+1;
                return item;
          });
          console.log('this.ticketData progress',this.ticketData);
          let groupTodo = { id: 1, name: "To Do",className:"txt-badge_yellow",items:[]}
            groupTodo.items = this.ticketData.filter(item => item.status == 'to-do')
          let groupProgress  = { id: 2, name: "In Progress",className:"txt-badge_blue",items:[]}
            groupProgress.items = this.ticketData.filter(item => item.status == 'in-progress')
          let groupResolved  = { id: 3, name: "Resolved",className:"txt-badge_green",items:[]}
            groupResolved.items = this.ticketData.filter(item => item.status == 'resolved')
          
          this.groups.push(groupTodo)
          this.groups.push(groupProgress)
          this.groups.push(groupResolved)
         
      })
      .catch(error => {
        console.log(error)
      })
         setTimeout(() => {res("resolved"), this.$emit('showLoading', false)}, 500);
      })
    },

    updateTicketProgress(ticketId, group){
      this.$emit('showLoading', true)
      let status = 'to-do';
      switch(group){
        case "1":
          status = 'to-do'
          break;
        case "2":
          status = 'in-progress'
          break;
        case "3":
          status = 'resolved'
          break;
      }
      let payload = {
          status: status,
          ticketId: ticketId
      }
      this.postTicketProgress( payload).then(res => {
          this.$emit('showLoading', false)
      })
    },
    edit(item) {
      this.$router.push(URLTickets + "/" + item.ticketId);
    },

    reload() {
      // this.getData();
    },
  }
};
</script>
<style lang="scss">
$ease-out: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
$to-do: #f4ce46;
$in-progress: #2a92bf;
$approved: #00b961;

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.drag-list {
  display: flex;
  align-items: flex-start;

  @media (max-width: 690px) {
    display: block;
  }
}

.drag-column {
  flex: 1;
  margin: 0 6px;
  position: relative;
  background: rgba(black, 0.2);
  overflow: hidden;

  @media (max-width: 690px) {
    margin-bottom: 30px;
  }

  h2 {
    font-size: 0.8rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
  }

  &-to-do {
    .drag-column-header,
    .drag-options {
      background: $to-do;
    }
  }

  &-in-progress {
    .drag-column-header,
    .drag-options {
      background: $in-progress;
    }
  }

  &-approved {
    .drag-column-header,
    .drag-options {
      background: $approved;
    }
  }
}

.drag-column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  user-select: none;
}

.drag-inner-list {
  overflow: auto;
  padding:10px;
}

.drag-item {
  transition: $ease-out;
    border-radius: 4px;
  /* items grabbed state */
  &[aria-grabbed="true"] {
    border:none;
    cursor:all-scroll;
     background-color:  rgba(49, 138, 198, 0.2);
    .card-box-item{
      cursor:all-scroll;
      border:1px dashed #0065AB;
    }
  }

  .drag-item-text {
    font-size: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }
}

.drag-header-more {
  cursor: pointer;
}

@keyframes nodeInserted {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0.8;
  }
}

.item-dropzone-area {
  height:160px;
  border-radius:4px;
  margin-bottom:15px;
  background-color:  rgba(49, 138, 198, 0.2);
  border:1px dashed #0065AB;
  opacity: 0.8;
  animation-duration: 0.5s;
  animation-name: nodeInserted;
  cursor:all-scroll;
}
</style>
