<template>
  <ContentWrapper class="profile-wp">
    <div class="content-heading">
      <h2>Tickets Management</h2>
      <div class="ml-auto">
        <button class="btn btn-fprimary" v-b-modal.modal-tickets>
          <i class="fa fa-plus mr-2"></i> 
          Add New
        </button>
      </div>
    </div>

    <div class="content-body">
      <v-client-table 
        :data="ticketData" 
        :columns="['ticketId', 'type' , 'title' ,'description', 'phone', 'status', 'action']"
        :options="options" class="cms-table cms-table-ticket">
          <template slot="ticketId" slot-scope="props" @click="edit(props.row)">
            <router-link class="nav-link link-txt pl-0" :to="`/tickets/${props.row.ticketId}`" @click.native="edit(props.row)">
                <span>{{ props.row.ticketId }}</span>
            </router-link>
          </template>
         
         <template slot="type" slot-scope="props" class="col-status ">
            <span class="badge-cms badge badge-xs badge-border-dark w-100">{{ props.row.type }}</span>
         </template>
         <template slot="status" slot-scope="props" class="col-status">
            <strong v-if="props.row.status == 'to-do'" class="badge-cms txt-badge txt-badge_yellow d-block m-auto">{{ props.row.status }}</strong>
            <strong v-if="props.row.status == 'in-progress'" class="badge-cms txt-badge txt-badge_blue d-block m-auto">{{ props.row.status }}</strong>
            <strong v-if="props.row.status == 'resolved'" class="badge-cms txt-badge txt-badge_green d-block m-auto">{{ props.row.status }}</strong>
         </template>
        <template slot="action" slot-scope="props" >
            <button class="btn btn-xs" @click.prevent="edit(props.row)">
              <i class="far fa-edit"></i>
            </button>
            <!-- <button class="btn btn-xs d-none" @click.prevent="remove(props.row)">
              <i class="far fa-trash-alt"></i>
            </button> -->
        </template>
        <!-- :class="props.row.customer != undefined && props.row.customer != null ? 'd-none':''" -->
        <template slot="child_row" slot-scope="props" class="child-table" >
          <div class="card-deck p-3 row clearfix">
            <div class="card cms-card text-left col-md-6"
               v-if="(props.row.customer != undefined && props.row.customer != null)">
                <div class="title-line mb-0 pb-0">
                    <h3><em class="icon-user mr-2"></em>Customer</h3>
                </div>
                <div>
                  <div class="card-ico">
                    <p class="card-txt">
                        <label>Name</label>
                        <span>{{props.row.customer.name}}</span> 
                    </p>
                  </div>
                  <div class="card-ico">
                    <p class="card-txt">
                        <label>phone</label>
                        <span>{{props.row.customer.phone}}</span> 
                    </p>
                  </div>
                  <div class="card-ico">
                    <p class="card-txt">
                        <label>email</label>
                        <span>{{props.row.customer.email}}</span> 
                    </p>
                  </div>
                  <div class="card-ico">
                    <p class="card-txt">
                        <label>type</label>
                        <span>{{props.row.customer.type}}</span> 
                    </p>
                  </div>
                </div>
            </div>
            <div class="card cms-card text-left col-md-6">
                <div class="title-line mb-0 pb-0">
                    <h3><em class="icon-user-follow mr-2"></em>Creator</h3>
                </div>
                <div>
                  <div class="card-ico">
                    <p class="card-txt">
                        <label>Creator</label>
                        <span>{{props.row.creator.name}}</span> 
                    </p>
                  </div>
                  <div class="card-ico">
                    <p class="card-txt">
                        <label>Creator email</label>
                        <span>{{props.row.creator.email}}</span> 
                    </p>
                  </div>
                  <div class="card-ico">
                    <p class="card-txt">
                        <label>Create at</label>
                        <span>{{ moment(props.row.creator.updated_at).format('DD/MM/YYYY') }}</span> 
                    </p>
                  </div>
                  <div class="card-ico">
                    <p class="card-txt">
                        <label>Update at </label>
                        <span>{{ moment(props.row.creator.created_att).format('DD/MM/YYYY') }}</span> 
                    </p>
                  </div>
                </div>
            </div>
          </div>
          <div class="card cms-card ml-3 mr-3" v-if="(props.row.order_requests != undefined && props.row.order_requests != '')">
            <div class="title-line pl-3 mb-0 pb-0">
                <h3><em class="fas fa-list-ul mr-2"></em> Refund Order History</h3>
            </div>
            <div class="card-body">
              <table class="table table-fdefault mb-3">
                <colgroup>
                    <col width="20%">
                </colgroup>
                <thead>
                    <th class="p-1">
                        <span>order Code</span>
                    </th>
                    <th class="p-1">
                        <span>status</span>
                    </th>
                    <th class="p-1">
                        <span>ticket Id</span>
                    </th>
                    <th class="p-1">
                        <span>created at</span>
                    </th>
                    <th class="p-1">
                        <span>updated at</span>
                    </th>
                </thead>
                <tbody>
                   <tr class="table-detail-title" v-for="item in props.row.order_requests" v-bind:key="item._id">
                      <td>
                          <span> {{ (item.ticketId) }} </span>
                      </td>
                      <td>
                          <span>{{ item.orderCode }}</span>
                      </td>
                        
                        <td>
                          <span>{{ item.status }}</span>
                      </td>
                        <td>
                          <span>{{ moment(item.created_at).format('DD/MM/YYYY') }}</span>
                      </td>
                        <td>
                          <span>{{ moment(item.updated_at).format('DD/MM/YYYY') }}</span>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </template>
      </v-client-table>
    </div>

  </ContentWrapper>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Vue from "vue";
import { mapGetters, mapActions, mapState } from "vuex";
import { URLTickets, ApiTickets } from "../../config"; 
import apiCall from "../../helpers/apiCall";
import { ClientTable } from "vue-tables-2";
// Multiselect
import Multiselect from "vue-multiselect";
import { get, concat } from "lodash";
import moment from 'moment';

Vue.use(ClientTable);

const TypesTickets = ["Order", "Support"];

export default {
  components: {
    ClientTable,
    Multiselect
  },
  created() {
    this.getData();
  },
  computed:{
    ...mapGetters(["getTicketData"]),
  },
  data() {
    return {
      // Multiselect
      typesTicketsValue: [],
      typesTickets: TypesTickets,
      moment,
      // Table list
     ticketData: [],
      ticketDataRow: [],
      currentPage: 0,
      perPage: 10,
      // columns: ["ticketId","title","description","phone","type","status","action"],
      options: {
        pagination: { chunk: 5 },
        sortIcon: {
          is: "fa-chevron-down",
          base: "fas",
          up: "fa-chevron-up",
          down: "fa-chevron-down"
        },
        headings: {
          ticketId: 'Tickets ID',
          "creator.name": 'creator'
        }
      }
    };
  },
  mounted(){
    this.getData();
  },
  methods: {
    ...mapActions(["getTicket"]),

    getData(){
      this.$emit('showLoading', true)
      new Promise((res, rej)=>{
         this.getTicket().then(data => {
          this.ticketData = [...data] //data.filter(item => item.ticketId != null && item.ticketId !="");
          this.ticketData = this.ticketData.map((item, index) => {
                item["id"] = index;
                return item;
          });
      })
      .catch(error => {
        console.log(error)
      })
         setTimeout(() => {res("done"); this.$emit('showLoading', false) }, 1000);
      })
     
    },
    
    edit(row) {
      this.$router.push(URLTickets + "/" + row.ticketId);
    },
    
    remove(row) {
      swal({
        title: "Are you sure?",
        text: row.name + " deleted, you will not be able to recover this!",
        icon: "warning",
        buttons: true,
        dangerMode: true
      }).then(willDelete => {
        if (willDelete) {
          apiCall('delete', ApiTickets + '/' + row.ticketId)
            .then(res => {
              console.log(res);
              swal("Your ticket has been deleted!", {
                icon: "success"
              });
              const i = findIndex(this.ticketData, { id: row.ticketId });
              if (i >= 0) {
                this.ticketData.splice(i, 1);
              }
              this.reload()
            })
            .catch(error => {
              console.error(error);
            });
        } else {
          swal("Your project is safe!");
        }
      });
    },
    reload() {
      this.getData();
    },

    clear() {
      this.ticketData = [];
    },

    /* MODAL */
    hideModal() {
      this.$root.$emit("bv::hide::modal", "modal-tickets");
    }
  }
};
</script>
<style lang="scss" scoped>
.title-cs{
  font-weight: 600;
  line-height: 36px;
  color: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
  h3{
    font-size: 16px;
  }
  em{
    font-size:13px;
  }
}
</style>