<template>

  <ContentWrapper class="material-wp" v-bind:class="{'content-disabled' : isUploading}">
    <div class="content-heading justify-content-between">
      <h2>Materials Management</h2>
      <div class="button">
        <input type="file" name="file" id="file" class="inputfile" ref="inputfile" @change="uploadExcelMaterial" hidden>
        <button class="btn btn-fprimary btn-add" @click="$refs.inputfile.click()">
            <i class="fa fa-upload"></i> 
        </button>
        &nbsp;
        <button class="btn btn-fprimary btn-add" @click="showModal()">
          <i class="fa fa-plus"></i> 
        </button>
      </div>
    </div>
    <div class="content-body pl-0 pr-0" >
      <div class="form-group float-left">
          <input  class="form-control" placeholder="Search by keys" @change="onChangeSearchKey($event)"/>
      </div>
      <v-server-table ref="table"
       :columns="['imageUrl', 'name','code', 'marketCode', 'status', 'action']"
      :options="options" class="cms-table">
        
        <template slot="child_row" slot-scope="props" class="child-table">
          <div class="card-deck p-3 row clearfix text-left">
            <div class="card cms-card">
              <div class="title-cs pl-3 mb-0 pb-0 pt-1">
                    <h3>Asset Bundle </h3>
                    <p class="mt-1">
                        <span>Old Version:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                          <a v-if="props.row.assetBundle" download v-bind:href="props.row.assetBundleUrl">Click to download</a></span>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <span v-if="props.row.assetBundle">{{props.row.revision}}</span>
                      </p>
                      <p>
                        <span>v2018:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                          <a v-if="props.row.versionAssetBundle.v2018.assetBundleUrl" download v-bind:href="props.row.versionAssetBundle.v2018.assetBundleUrl">Click to download</a></span>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <span v-if="props.row.versionAssetBundle.v2018.assetBundleUrl">{{props.row.versionAssetBundle.v2018.revision}}</span>
                      </p>

                      <p>
                        <span>v2019:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                          <a v-if="props.row.versionAssetBundle.v2019.assetBundleUrl" download v-bind:href="props.row.versionAssetBundle.v2019.assetBundleUrl">Click to download</a>
                          </span>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <span v-if="props.row.versionAssetBundle.v2019.assetBundleUrl">{{props.row.versionAssetBundle.v2019.revision}}</span>
                      </p>

                      <p>
                        <span>v2020:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                          <a v-if="props.row.versionAssetBundle.v2020.assetBundleUrl" download v-bind:href="props.row.versionAssetBundle.v2020.assetBundleUrl">Click to download</a>
                        </span>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span v-if="props.row.versionAssetBundle.v2020.assetBundleUrl">{{props.row.versionAssetBundle.v2020.revision}}</span>
                      </p>
                    
              </div>
            </div> 
            <div class="card cms-card">
              <div class="title-cs pl-3 mb-0 pb-0 pt-1">
                    <h3>MORE INFO </h3>
                    <p class="pt-1">
                        <label>Price:</label> &nbsp;<span>{{props.row.attrs.price}}</span>
                    </p>

                    <p class="">
                        <label>Dimension:</label> &nbsp;<span>{{props.row.dimension.l}} x {{props.row.dimension.w}}</span>
                    </p>

                    <p>
                        <label>Description: </label>&nbsp; <span>{{props.row.description}}</span>
                    </p>
                    <div class="row"> 
                      <div class="custom-control custom-checkbox width-percent-30 ml-2">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            v-model="props.row.attrs.isWall"
                          >
                          <label class="custom-control-label">isWall</label>
                      </div>

                      <div class="custom-control custom-checkbox width-percent-30">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            v-model="props.row.attrs.isFloor"
                          >
                          <label class="custom-control-label">isFloor</label>
                      </div>

                      <div class="custom-control custom-checkbox width-percent-30">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            v-model="props.row.attrs.isCeiling"
                          >
                          <label class="custom-control-label">isCeiling</label>
                      </div>
                    </div>
              </div>
            </div> 
          </div>
        </template>

        <template slot="imageUrl" slot-scope="props" class="col-status text-center" >
          <img class="max-height-75" v-bind:src="props.row.imageUrl"/>
            
        </template>

        <template slot="name" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            <b>{{ props.row.name }}</b>
          </span>
        </template>

        <template slot="price" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            <b>{{ props.row.attrs.price }}</b>
          </span>
        </template>

        <!-- <template slot="AssetBundle" slot-scope="props" class="col-status text-center" >
          <span v-if="props.row.assetBundleUrl" class="badge-cms">
            <a download v-bind:href="props.row.assetBundleUrl">Download</a>
          </span>
        </template> -->

        <template slot="status" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
             <Status :value="props.row.status"/>
          </span>
        </template>

        <template slot="action" slot-scope="props">
          <div>
            <button class="btn btn-xs mr-1" @click.prevent="edit(props.row)"
            v-tooltip.bottom="{
              content: 'Edit Material',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="far fa-edit"></i>
            </button>
            <button class="btn btn-xs mr-1" @click.prevent="remove(props.row)"
             v-tooltip.bottom="{
              content: 'Delete Material',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="fa fa-trash"></i>
            </button>
            
            <!-- <button class="btn btn-xs" @click.prevent="remove(props.row)" v-bind:disabled="props.row.orders.lenght > 0">
              <i class="far fa-trash-alt"></i>
            </button> -->
          </div>
        </template>
      </v-server-table>
    </div>
    
    <Modal 
      v-on:childToParent="onCloseModal"   
      v-on:closeChild="closeModal" 
      v-if="openModalState"
      :material="editingMaterial"
      :categories="categories"
      :brands="brands"
    />

  </ContentWrapper>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Vue from "vue";
import { ServerTable } from "vue-tables-2";
import { ApiMaterials, ApiMaterialCategories, ApiMaterialBrands, ApiUploadMaterialByExcel} from "../../config"; 
import apiCall from "../../helpers/apiCall";
import apiBinaryPost from "../../helpers/apiBinaryPost";
import { get, concat } from "lodash";
import swal from 'sweetalert';

import VTooltip from 'v-tooltip'
import Modal from './Modal/AddEdit.vue';
import toast from "../../helpers/toast";
import Status from "../../components/Partials/Status";
import Spinners from '../../views/Parts/Spinners';

Vue.use(VTooltip)
Vue.use(ServerTable);

export default {
  components: {
    ServerTable,
    Modal,
    Status,
    Spinners
  },
  mounted() {

  },
  data() {
    return {
      materials: [],
      categories: [],
      brands: [],
      //currentPage: 0,
      //limit: 20000,
      options: {
        
        requestFunction: (function (params) {
          params.name = params.query;
          let queryString = Object.keys(params).map(function(key) {
            if(params[key]){
              return key + '=' + params[key]
            }
          }).join('&');
          let url = `${ApiMaterials}?${queryString}`;
          
          return apiCall("get", url);
        }).bind(this),

        responseAdapter : function(resp) { 
          
          var data = this.getResponseData(resp);
          let list =  data.data.data.list;
          list = list.map((item, index) => {
                item["id"] = index;
                return item;
            });
          
          let result = { data: list, count: data.data.meta.total };
          return result;
        },
        params : {
          group : null,
          keys: null
        },
        perPage: 20,
        perPageValues:[20, 50, 100],
        pagination: {  
          edge: true,
          dropdown: false,
          chunk: 5   
        },
        headings: {
           "imageUrl" : "Image",
           "name" : "Name",
           "code" : "Code",
          
        },
        sortable : ['name', 'group'],
        sortIcon: {
          is: "fa-chevron-down",
          base: "fas",
          up: "fa-chevron-up",
          down: "fa-chevron-down"
        },
        columnsClasses: {
        
          AssetBundle : "width-100",
          status: "width-100",
          imageUrl: "width-100",
          action: "width-100"
        },
        
      },

      isDeleting: false,
      openModalState: false,
      isUploading: false,
      editingMaterial: null
    };
  },
  created() {
    this.initCategories();
    this.initBrands();
    this.$emit("showLoading", false);
    //this.getData();
  },
  methods: {
    onChangeSearchKey(event){
      let value = event.target.value;
      this.options.params.keys = value;
      this.reload();
      
    },

    reload() {
      this.$refs.table.refresh();
    },

    initCategories() {
      let url = `${ApiMaterialCategories}`;
      apiCall("get", url)
        .then(res => {
          this.categories = get(res.data, "data.list", []);
          
        })
        .catch(error => {
          console.error(error);
        });
    },

    initBrands() {
      let url = `${ApiMaterialBrands}`;
      apiCall("get", url)
        .then(res => {
          this.brands = get(res.data, "data.list", []);
          
        })
        .catch(error => {
          console.error(error);
        });
    },
    
    getData(){
        this.$emit('showLoading', true)
        //let url = `${ApiMaterials}?page=${this.currentPage + 1}&per_page=${this.limit}`;
        let url = `${ApiMaterials}`;
        apiCall("get", url).then(res => {
          this.$emit("showLoading", false);
          this.materials =  get(res.data, "data.list", []);
           this.materials = this.materials.map((item, index) => {
                item["id"] = index;
                return item;
            });
        })
        .catch(error => {
          console.error(error);
        });
    },
    
    showModal() {
        this.openModalState = true;
    },

    remove(row) {
      //Show Notify
      swal({
        title: "Are you sure?",
        text: "Material " + row.name + " will be deleted, you will not be able to recover this!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
        customClass: 'notifySwal',
      }).then(willDelete => {
        if (willDelete) {
          //this.isDeleting = true;
          this.$emit('showLoading', true);
          apiCall('delete', ApiMaterials + '/' + row.code)
            .then(res => {
              console.log(res);
              swal("Delete succeeded!", {
                icon: "success"
              });
              //this.isDeleting = false;
              this.$emit('showLoading', false);
              // const i = _.findIndex(this.listData, { id: row.phone });
              // if (i >= 0) {
              //   this.listData.splice(i, 1);
              // }
              this.reload()
              
            })
            .catch(error => {
              console.error(error);
            });
        } 
        // else {
        //   swal("Your style is safe!");
        // }
      });
    },

    edit(row) {
        this.editingMaterial = row;
        this.openModalState = true;
    },

    closeModal() {
        console.log('normal close');
        this.openModalState = false;
        this.editingMaterial = null;
    },

    onCloseModal(value) {
        console.log("Callback from child : " , value);
        this.editingMaterial = null;
        if(value){
          toast.success('Success');
          this.reload();
        }
    },

    uploadExcelMaterial(e){
        const file = e.target.files[0];
        if(file){
            console.log(file);    
            this.showSpinnerWhileUpload(true);
            let urlUpload = `${ApiUploadMaterialByExcel}`;
            let formFile = new FormData();
            formFile.append('file', file);
            apiBinaryPost(urlUpload, formFile).then(resUpload => {
                console.log(resUpload);
                toast.success('File Excel uploaded');
                
                this.showSpinnerWhileUpload(false);
                this.reload();
            }).catch(errUp => {            
                console.log('errUpload', errUp);
                this.showSpinnerWhileUpload(false);
            });;
        }
    },
    showSpinnerWhileUpload (value){
      this.isUploading = value;
      this.$emit('showSpinnerWhileUpload', value);
    }
  }
};
</script>
<style lang="scss" scope>
  .content-wrapper{
    &.profile-wp{
      background-color:#fff;
    }
  }
  .content-disabled {
    pointer-events: none;
    opacity: 0.4;
  }
 
</style>