<template>
    <div class="inputfile-box">
                 
        <input type="file" :name="id" v-bind:id="id"  v-bind:ref="id" class="inputfile" @change="onFileChange">
        <label for="" class="width-percent-100" @click="inputClick">
                   
            <span class="file-button">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        Select File
                        </span>
            <span id="file-name" class="file-box">{{uploadFileName}}</span>
        </label>
    </div> 
</template>

<script>
    export default {
        name: 'File',
        props: ['src', 'extra'],
        data (){
            let filename = null;
            if(this.src){
                filename = this.src.substring(this.src.lastIndexOf('/')+1);
            }
            let id = "file";
            if(this.extra){
                id = "file" + this.extra;
            }
            return {
                uploadFileName : filename || null,
                id : id
            }
        },
        methods : {
            inputClick(){
                this.$refs[this.id].click();
            },
            onFileChange (e){
                const file = e.target.files[0];
                if(file){
                    this.uploadFileName = file.name;
                    this.$emit('getFile', file, this.extra);
                }
            }
        }
    }
</script>
<style lang="scss" scoped>
   .inputfile-box {
    position: relative;
    }

.inputfile {
  display: none;
}

.container {
  display: inline-block;
  width: 100%;
}

.file-box {
  display: inline-block;
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
  box-sizing: border-box;
  height: calc(2rem - 2px);
}

.file-button {
  background: black;
  padding: 5px;
  color:white;
  position: absolute;
  
  top: 0px;
  right: 0px;
}
.custom-checkbox input {
  display: block;
  float: left;
  width: 50%;
}
   
</style>