<template>
  <div>
    <div class="form-group">
        <label>Location</label>
        <input @change="onUpdate" class="form-control" v-model="form.address" placeholder="Address" />
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-6">
          <input @change="onUpdate" class="form-control" v-model="form.lat" placeholder="lat" />
        </div>
        <div class="col-6">
          <input @change="onUpdate" class="form-control"  v-model="form.long" placeholder="long" />
        </div>
        <div class="col-6">
          <select @change="onChangeCity" class="form-control" v-model="form.city_id">
            <option
              v-for="item of cityList"
              :key="'city_' + item.city_id"
              :value="item.city_id"
            >{{item.city_name}}</option>
          </select>
        </div>
        <div class="col-6">
          <select @change="onChangeDistrict" class="form-control" v-model="form.district_id">
            <option
              v-for="item of districtList"
              :key="'district_' + item.district_id"
              :value="item.district_id"
            >{{item.district_name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { ApiLocations} from "../../config"; 
import apiCall from "../../helpers/apiCall";
import {get, each, set} from "lodash";
export default {
  props: ['location', 'handleUpdata'],
  name: 'locationForm',
  async created() {
    this.form = this.location;

    this.initLocation();
    
  },
  computed: {
    
  },
  data() {
    return {
      cityList : [],
      form: {
        address: '',
        lat: '',
        long: '',
        city_id: '',
        city_name: '',
        district_id: '',        
        district_name: '',        
      },
      districtList: []
    }
  },
  watch: { 
    location: function(newVal) { // watch it
      this.form = newVal;
      if (get(newVal,'city_id', 0)) {
        this.onChangeCity(get(newVal,'city_id', 0));
      }
    }
  },
  methods: {
    initLocation(){
      // await this.$store.dispatch('location/getLocationsAPI');
      // if (get(this.location,'city_id', 0)) {
      //   this.onChangeCity(get(this.location,'city_id', 0));
      // }


      let url = `${ApiLocations}`;
      apiCall("get", url).then(res => {
          this.cityList =  get(res.data, "data.list", []);

          if (get(this.location,'city_id', 0)) {
            this.onChangeCity(get(this.location,'city_id', 0));
          }
        })
        .catch(error => {
          console.error(error);
        });
    },

    onChangeCity(city_id) {
      each(this.cityList, item => {
        if (item.city_id === city_id) {
          this.districtList = item.districts;
          set(this.form, 'city_name', item.city_name);
          return;
        }
      })
    },
    onChangeDistrict(district_id) {
      each(this.districtList, item => {
        if (item.district_id === district_id) {
          set(this.form, 'district_name', item.district_name);
          this.onUpdate();
          return;
        }
      })
    },
    onUpdate() {
      if (typeof this.handleUpdata === 'function') {
        this.handleUpdata(this.form);
      }
    }
  }
}
</script>