<template>
    <b-modal id="modal-tickets" class="modal-cms" :hide-header="true" :hide-footer="true">
        <div class="modal-header">
            <a class="modal-ico-close" @click="hideModal()">
            <i class="fa fa-times"></i>
            </a>
        </div>
     
        <div class="row clearfix m-0">
            <div class="col-md-5 col-l d-none">
                <form class="form-tickets form-tickets-search">
                    <h2>Filter</h2>
                    <label for="" class="visibility-hidden">Filter</label>
                     <div class="form-group search-top mb-4">
                        <span class="icon-magnifier form-control-feedback"></span>
                        <input type="text" class="form-control" placeholder="Search" id="search" name="search"
                            v-on:keyup.enter="search"
                            v-model="searchQuery">
                    </div>
                     <div id="search-wrap">
                        <div>
                            <input id="search" name="search" type="text" placeholder="Search Tickets, Orders, Profile, etc."
                            v-on:keyup.enter="search"
                            v-model="searchQuery">
                             <em class="icon-magnifier"></em>
                            <input id="search_submit" value="" type="submit">
                        </div>
                    </div>

                    <div class="card-deck search-content card-flex-column">
                        <div class="card cms-card pt-2 pb-2">
                           <div class="title-cs pl-3 mb-2 pb-0">
                              <h3><em class="icon-user mr-2"></em> Customer Information</h3>
                            </div>
                            <!-- <div class="card-header">
                                <img src="img/no-photo.png" class="mr-3" alt="...">
                                <div class="flex-1">
                                    <h5 class="mt-0">John Nguyen</h5>
                                    <span>0905878657</span>
                                </div>
                                 <div class="btn-dropdown">
                                    <a class="fa fa-ellipsis-v"></a>
                                    <b-dropdown size="lg" variant="link" toggle-class="text-decoration-none" no-caret>
                                        <b-dropdown-item href="#">item 1</b-dropdown-item>
                                    </b-dropdown>
                                </div>
                            </div> -->
                            <div class="card-body">
                                <div class="card-ico">
                                    <p class="card-txt">
                                        <label>Name </label>
                                        <span>John Nguyen</span>
                                    </p>
                                </div>
                                <div class="card-ico">
                                    <p class="card-txt">
                                        <label>Phone </label>
                                        <span>0905878657</span>
                                    </p>
                                </div>
                                <div class="card-ico">
                                    <p class="card-txt">
                                        <label>Email </label>
                                        <span>new@gmail.com</span>
                                    </p>
                                </div>
                                <div class="card-ico">
                                    <p class="card-txt">
                                        <label>Type </label>
                                        <span>Customer</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card cms-card pt-2 pb-2">
                           <div class="title-cs pl-3 mb-0 pb-0">
                              <h3><em class="icon-tag mr-2"></em> Ticket Information</h3>
                            </div>
                            <div class="card-body">
                                <div class="card-ico">
                                    <p class="card-txt">
                                        <label>Ticket Id </label>
                                        <span>CS 123</span>
                                    </p>
                                </div>
                                <div class="card-ico">
                                    <p class="card-txt">
                                        <label>Phone </label>
                                        <span>0905878657</span>
                                    </p>
                                </div>
                                
                                <div class="card-ico">
                                    <p class="card-txt">
                                        <label>Title </label>
                                        <span>Here is title</span>
                                    </p>
                                </div>
                                <div class="card-ico">
                                    <p class="card-txt">
                                        <label>Description </label>
                                        <span>Here is Desc</span>
                                    </p>
                                </div>
                                <div class="card-ico">
                                    <p class="card-txt">
                                        <label>Creator </label>
                                        <span>cs</span>
                                    </p>
                                </div>
                                <div class="card-ico">
                                    <p class="card-txt">
                                        <label>Date </label>
                                        <span>1/10/2019</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card cms-card pt-2 pb-2">
                           <div class="title-cs pl-3 mb-0 pb-0">
                              <h3><em class="fas fa-list-ul mr-2"></em> Order Information</h3>
                            </div>
                            <div class="card-body">
                                <div class="card-ico">
                                    <p class="card-txt">
                                        <label>Id Order </label>
                                        <span>#1232</span>
                                    </p>
                                </div>
                                <div class="card-ico">
                                    <p class="card-txt">
                                        <label>Date </label>
                                        <span>1/1/2019</span>
                                    </p>
                                </div>
                                <div class="card-ico">
                                    <p class="card-txt">
                                        <label>Date Ship</label>
                                        <span>1/1/2019</span>
                                    </p>
                                </div>
                                <div class="card-ico">
                                    <p class="card-txt">
                                        <label>Status Order </label>
                                        <span>Done</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12">
                <!-- TICKETS -->
                <form class="form-tickets">
                    <h2>Add New Tickets</h2>
                    <div class="align-items-center">
                      <div class="form-group">
                          <label for="title">Title</label>
                          <input
                          v-model="ticketData.title"
                          class="form-control"
                          id="title"
                          type="text"
                          placeholder="your title"/>
                      </div>
                    <div class="form-group d-none">
                          <label for="title">callReference</label>
                          <input
                          v-model="ticketData.callReference"
                          class="form-control"
                          id="title"
                          type="text"
                          placeholder="your title"/>
                      </div>

                      <div class="form-group">
                          <label for="description">Description</label>
                          <textarea class="form-control" v-model="ticketData.description" id="description" name rows="2" placeholder="Description"></textarea>
                      </div>

                      <div class="form-group">
                          <label for="type">Type Tickets</label>
                          <multiselect
                          v-model="ticketData.type"
                          :options="typesTickets"
                          :multiple="false"
                          :close-on-select="false"
                          :clear-on-select="false"
                          :hide-selected="true"
                          :preserve-search="true"
                          placeholder="Selected here"
                          :taggable="false"/>
                      </div>

                      <div class="form-group">
                          <label for="name">Name</label>
                          <input
                          v-model="profileData.name"
                          class="form-control"
                          id="name"
                          type="text"
                          placeholder="your name"/>
                      </div>

                      <div class="form-group d-none">
                          <label for="phone">Phone</label>
                          <input
                          v-model="ticketData.phone"
                          class="form-control"
                          id="phone"
                          type="text"
                          placeholder="your phone"/>
                      </div>
                      <div class="form-group">
                          <label for="phone">Phone</label>
                          <input
                          v-model="profileData.phone"
                          class="form-control"
                          id="phone"
                          type="text"
                          placeholder="your phone"/>
                      </div>

                      <div class="form-group">
                          <label for="email">Email</label>
                          <input
                          v-model="profileData.email"
                          class="form-control"
                          id="email"
                          type="text"
                          placeholder="your email"/>
                      </div>

                       <div class="form-group">
                          <label for="type">Type Customer</label>
                          <multiselect
                           v-model="profileData.type"
                          :options="TypesProfile"
                          :multiple="false"
                          :close-on-select="false"
                          :clear-on-select="false"
                          :hide-selected="true"
                          :preserve-search="true"
                          placeholder="Selected here"
                          :taggable="false"/>
                      </div>
                    </div>
                </form>
                <div>
                    <button class="btn btn-fprimary mb-2" type="submit" @click="create()">Save</button>
                    <button class="btn btn-fdefault mb-2 float-md-right" type="submit" @click="hideModal()">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </b-modal> 
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<script>
import Vue from "vue";
import { mapGetters, mapActions, mapState } from "vuex";
// Multiselect
import Multiselect from "vue-multiselect";
import apiCall from '../../helpers/apiCall';
import { get } from 'lodash';

const TypesTickets = ["Order", "Support"];
const TypesProfile = ["Customer", "Brand"];

export default {
  components: {
    Multiselect
  },

  computed: mapGetters(["getTicketData","getSearch"]),

  data() {
    return {
      // Multiselect
      typesTicketsValue: [],
      typesTickets: TypesTickets,
      TypesProfileValue: [],
      TypesProfile: TypesProfile,
      profileData: {

      },
      ticketData: [],
      callReference:'',
       searchQuery: null,
        searchQueryDirty: false,
    }
  },
    methods: {
        ...mapActions(["postTicket","postSearchCustomer"]),
        search: function(e){
                this.$emit("searchMsg", e.target.value);
            },
        create(){
            this.ticketData.phone = this.profileData.phone;
            Promise.all([
                        this.postTicket({...this.ticketData,callReference:0})])
                        .then(res => { 
                            this.hideModal();
                        }).catch(error => {
                            console.error(error);
                        });
        },
        hideModal() {
            this.$root.$emit("bv::hide::modal", "modal-tickets");
            this.$emit("refesh-list");
        }
    }

}
</script>