<template>
  <ContentWrapper  style="position:absolute;">
    <div class="d-flex align-items-center justify-content-center" style="height: 400px">
      <div class="sk-wave">
        <div class="sk-rect sk-rect1"></div>
        <div class="sk-rect sk-rect2"></div>
        <div class="sk-rect sk-rect3"></div>
        <div class="sk-rect sk-rect4"></div>
        <div class="sk-rect sk-rect5"></div>
      </div>
    </div>
  </ContentWrapper>
</template>
<script>
// CSS Loaders
import "loaders.css/loaders.css";
import "spinkit/css/spinkit.css";
export default {
  name: "Spinners"
};
</script>
