

<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal modal-sm modal-profile"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            <span>Edit Profile</span>
            <button
              type="button"
              class="btn-close"
              @click="close"
              aria-label="Close modal"
            >
              x
            </button>
          </slot>
        </header>
        <div
          class="modal-body"
          id="modalDescription"
        >


          <div class="content-body profile-form">
        <!-- Using Commont -->
            <div class="align-items-center">        
              <UploadImage :src="formData.avatarUrl" v-on:getImage="childFromParent"/>

              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  v-model="formData.name"
                  class="form-control"
                  id="name" name="name"
                  placeholder="Name" v-bind:class="{ errors: errors.has('name')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('name')">{{errors.first('name')}}</span>
              </div>

              <div class="form-group">
                <label for="name">Email *</label>
                <input
                  type="email"
                  disabled
                  v-model="formData.email"
                  class="form-control"
                  id="email" name="email"
                  placeholder="Email" v-bind:class="{ errors: errors.has('email')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('email')">{{errors.first('email')}}</span>
              </div>


            </div>
          </div>

        </div>
        <footer class="modal-footer">
          <slot name="footer">
           <button 
              type="button"
              class="btn-black"
              @click.self.prevent="validateAndSave" 
              :disabled="$store.state.isSaving"
              aria-label="Save modal"
            >
              Save
            </button>

            <button
              type="button"
              class="btn-white"
              @click="close"
              aria-label="Close modal"
            >
              Close
            </button>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
  import Vue from "vue";
  import VeeValidate from 'vee-validate';
  import { ApiProfile, ApiUploadAvatar } from "../../../config"; 
  import apiCall from "../../../helpers/apiCall";
  import apiBinaryPost from "../../../helpers/apiBinaryPost";
  import UploadImage from "../../../components/Partials/UploadImage";
  import Multiselect from 'vue-multiselect';

  Vue.use(VeeValidate)

  export default {
    name: 'Modal',
    props : ['user'],
     components: {
      UploadImage
    },
    data() {
      return {
        formData : {
          
        },
        image:null,
        imageUrl: null,

        updatedUser: null

      }
    },
    created() {
      this.initData();
    },
    
    methods: {
      initData() {

        this.initUser();
      },

      initUser(){
        let user = this.user;
        this.formData = Object.assign(this.formData, user);
        this.user_roles = this.formData.roles || [];
      },

      validateAndSave(){
        this.$validator.validateAll().then(valid => {
          console.log(this.user)
          if(valid){
            this.edit();
          }
        });
        
      },
      
      edit(){
          let url = `${ApiProfile}`; 
          apiCall('post', url, this.formData).then(res => {  
              console.log("done Editing: ", res);
              this.updatedUser = res.data.data || null;
              if(this.image){
                  let formImage = new FormData();
                  let urlUploadAvatar = `${ApiUploadAvatar}`; 
                  formImage.append('image', this.image);
                  apiBinaryPost(urlUploadAvatar, formImage).then(upres => { 
                      this.updatedUser = upres.data.data || null;
                      this.close();
                  }).catch(uerr => {
                            console.log('upload err',uerr);
                  });
              }else{
                  this.close(); 
              }  
                
                      
             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },

      

      close() {  
        this.$emit('closeChild');
        if(this.updatedUser){
          this.$emit('childToParent', this.updatedUser);
        }
      },

      childFromParent(arg){
        this.image = arg;
      }

    },
  };
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" scope>
  .modal-profile{
    .component-preview{
      margin: 0 auto;
    } 
  }
</style>