<template>
  <ContentWrapper class="profile-wp">
    <div class="content-heading justify-content-between">
      <h2>Brands Management</h2>
      <button class="btn btn-fprimary btn-add" @click="showModal()">
          <i class="fa fa-plus"></i> 
        </button>
    </div>
    <div class="content-body pl-0 pr-0" >
      <v-client-table :data="brands" 
       :columns="['imageUrl', 'name','code', 'status', 'action']"
      :options="options" class="cms-table cms-table-ticket">
        
        <template slot="imageUrl" slot-scope="props" class="col-status text-center" >
          <img class="max-height-75" v-bind:src="props.row.imageUrl"/>
            
        </template>
        <template slot="status" slot-scope="props" class="col-status text-center max-width-100" >
          <span class="badge-cms max-width-100">
             <Status :value="props.row.status"/>
          </span>
        </template>
        <template slot="name" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            <b>{{ props.row.name }}</b>
          </span>
        </template>
        <template slot="action" slot-scope="props">
          <div>
            <button class="btn btn-xs mr-1" @click.prevent="edit(props.row)"
            v-tooltip.bottom="{
              content: 'Edit Brand',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="far fa-edit"></i>
            </button>
            <button class="btn btn-xs mr-1" @click.prevent="remove(props.row)"
             v-tooltip.bottom="{
              content: 'Delete Brand',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="fa fa-trash"></i>
            </button>
            
            <!-- <button class="btn btn-xs" @click.prevent="remove(props.row)" v-bind:disabled="props.row.orders.lenght > 0">
              <i class="far fa-trash-alt"></i>
            </button> -->
          </div>
        </template>
      </v-client-table>
    </div>
    
    <Modal 
      v-on:childToParent="onCloseModal"   
      v-on:closeChild="closeModal" 
      v-if="openModalState"
      :brand="editingBrand"
    />

  </ContentWrapper>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Vue from "vue";
import { ClientTable } from "vue-tables-2";
import { ApiBrands} from "../../config"; 
import apiCall from "../../helpers/apiCall";
import { get, concat } from "lodash";
import swal from 'sweetalert';

import VTooltip from 'v-tooltip'
import Modal from './Modal/AddEdit.vue';
import toast from "../../helpers/toast";
import Status from "../../components/Partials/Status";

Vue.use(VTooltip)
Vue.use(ClientTable);

export default {
  components: {
    ClientTable,
    Modal,
    Status
  },
  mounted() {

  },
  data() {
    return {
      brands: [],
      //currentPage: 0,
      //limit: 20000,
      options: {
        perPage: 20,
        pagination: { chunk: 5 },
        headings: {
           "imageUrl" : "Image",
           "name" : "Name",
           "code" : "Code",

        },
        sortIcon: {
          is: "fa-chevron-down",
          base: "fas",
          up: "fa-chevron-up",
          down: "fa-chevron-down"
        },
        columnsClasses: {
        
          status: "width-100",
          imageUrl: "width-100",
          action: "width-100"
        },
      },
      isDeleting: false,
      openModalState: false,
      editingBrand: null
    };
  },
  created() {
    this.getData();
  },
  methods: {
    
    getData(){
        this.$emit('showLoading', true)
        //let url = `${ApiBrands}?page=${this.currentPage + 1}&per_page=${this.limit}`;
        let url = `${ApiBrands}`;
        apiCall("get", url).then(res => {
          this.$emit("showLoading", false);
          this.brands =  get(res.data, "data.list", []);
        })
        .catch(error => {
          console.error(error);
        });
    },
    
    showModal() {
        this.openModalState = true;
    },

    remove(row) {
      //Show Notify
      swal({
        title: "Are you sure?",
        text: "Brand " + row.name + " will be deleted, you will not be able to recover this!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
        customClass: 'notifySwal',
      }).then(willDelete => {
        if (willDelete) {
          //this.isDeleting = true;
          this.$emit('showLoading', true);
          apiCall('delete', ApiBrands + '/' + row.code)
            .then(res => {
              console.log(res);
              swal("Delete succeeded!", {
                icon: "success"
              });
              //this.isDeleting = false;
              this.$emit('showLoading', false);
              // const i = _.findIndex(this.listData, { id: row.phone });
              // if (i >= 0) {
              //   this.listData.splice(i, 1);
              // }
              this.reload()
              
            })
            .catch(error => {
              console.error(error);
            });
        } 
        // else {
        //   swal("Your style is safe!");
        // }
      });
    },

    reload() {
       this.getData();
    },

    edit(row) {
        this.editingBrand = row;
        this.openModalState = true;
    },

    closeModal() {
        console.log('normal close');
        this.openModalState = false;
        this.editingBrand = null;
    },

    onCloseModal(value) {
        console.log("Callback from child : " , value);
        this.editingBrand = null;
        if(value){
          toast.success('Success');
          this.reload();
        }
    },
  }
};
</script>
<style lang="scss" scope>
  .content-wrapper{
    &.profile-wp{
      background-color:#fff;
    }
  }
 
</style>