

<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal modal-sm"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            <span v-if="category">Edit category {{category.name}}</span>
            <span v-else>Create Category</span>
            <button
              type="button"
              class="btn-close"
              @click="close"
              aria-label="Close modal"
            >
              x
            </button>
          </slot>
        </header>
        <div
          class="modal-body"
          id="modalDescription"
        >


          <div class="content-body profile-form">
        <!-- Using Commont -->
            <div class="align-items-center">
              <div class="form-group">
                <UploadImage :src="formData.imageUrl" v-on:getImage="childFromParent"/>
              </div>  

              <div class="form-group">
                <label for="name">Name *</label>
                <input
                  type="text"
                  v-model="formData.name"
                  class="form-control"
                  id="name" name="name"
                  placeholder="Name" v-bind:class="{ errors: errors.has('name')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('name')">{{errors.first('name')}}</span>
              </div>

              <div class="form-group">
                <label for="name">Key *</label>
                <input
                  type="text"
                  :disabled="category"
                  v-model="formData.key"
                  class="form-control"
                  id="key" name="key"
                  placeholder="Code" v-bind:class="{ errors: errors.has('key')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('key')">{{errors.first('key')}}</span>
              </div>
              
              <div class="form-group">
                <label for="parent">Parent</label>
                <select id="parent" name="parent" class="form-control" v-model="formData.parent">
                    <option></option>
                    <option v-for="item in categories" :value="item.key">
                      {{ item.treeLevel == 2 ? '------' : ''}}{{ item.name}}
                    </option>
                </select>
              </div>

               <div class="form-group">
                <label for="priority">Priority</label>
                <input
                  type="number"
                  step="1"
                  v-model="formData.priority"
                  class="form-control"
                  id="priority" name="priority"
                />
              </div>

              <div class="form-group">
                <label for="status">Status</label>
                <select id="status" name="status" class="form-control" v-model="formData.status">
                    <option></option>
                    <option v-for="(item, index) in status" :value="index">
                      {{ item}}
                    </option>
                </select>
              </div>
            </div>
          </div>

        </div>
        <footer class="modal-footer">
          <slot name="footer">
           <button 
              type="button"
              class="btn-black"
              @click.self.prevent="validateAndSave" 
              :disabled="$store.state.isSaving"
              aria-label="Save modal"
            >
              Save
            </button>

            <button
              type="button"
              class="btn-white"
              @click="close"
              aria-label="Close modal"
            >
              Close
            </button>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
  import Vue from "vue";
  import VeeValidate from 'vee-validate';
  import { ApiCategories, ApiUploadCategoryThumb, STATUS_LIST } from "../../../config"; 
  import apiCall from "../../../helpers/apiCall";
  import apiBinaryPost from "../../../helpers/apiBinaryPost";
  import UploadImage from "../../../components/Partials/UploadImage";

  Vue.use(VeeValidate)

  export default {
    name: 'Modal',
    props : ['category', 'categories'],
    components: {
      UploadImage
    },
    data() {
      return {
        status: STATUS_LIST,
        formData : {
          
        },
        
        image:null,
        imageUrl: null,

        updatedCategory: null

      }
    },
    created() {
      this.initData();
    },
    
    methods: {
      initData() {

        this.initCategory();
      },

      initCategory(){
        let category = this.category;
        this.formData = Object.assign(this.formData, category);
      },

      validateAndSave(){
        this.$validator.validateAll().then(valid => {
          console.log(this.category)
          if(valid){
            if(this.category){
              this.edit();
            }
            else{
              this.create();
            }

          }
        });
        
      },
      
      edit(){
          let url = `${ApiCategories}/${this.category.key}`; 
         
          apiCall('put', url, this.formData).then(res => {  
              console.log("done Editing: ", res);
              this.updatedCategory = res.data.data || null;

              if(this.image){
                  let formImage = new FormData();
                  let urlUploadThumb = `${ApiUploadCategoryThumb}`; 
                  formImage.append('image', this.image);
                  formImage.append('key', this.formData.key);
                  apiBinaryPost(urlUploadThumb, formImage).then(upres => { 
                            this.close();
                        }).catch(uerr => {
                            console.log('upload err',uerr);
                        });;
                }else{
                  this.close(); 
                }
                      
             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },

      create(){
          let url = `${ApiCategories}`; 
          
          apiCall('post', url, this.formData).then(res => {  
              console.log("done creating: ", res);
              this.updatedCategory = res.data.data || null;

              if(this.image){
                  let formImage = new FormData();
                  let urlUploadThumb = `${ApiUploadCategoryThumb}`; 
                  formImage.append('image', this.image);
                  formImage.append('key', this.formData.key);
                  apiBinaryPost(urlUploadThumb, formImage).then(upres => { 
                            this.close();
                        }).catch(uerr => {
                            console.log('upload err',uerr);
                        });;
                }else{
                  this.close(); 
                }  

             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },


      close() {  
        this.$emit('closeChild');
        if(this.updatedCategory){
          this.$emit('childToParent', this.updatedCategory);
        }
      },

      childFromParent(arg){
        this.image = arg;
      }

    },
  };
</script>

<style>
 .inputfile-box {
  position: relative;
}

.inputfile {
  display: none;
}

.container {
  display: inline-block;
  width: 100%;
}

.file-box {
  display: inline-block;
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
  box-sizing: border-box;
  height: calc(2rem - 2px);
}

.file-button {
  background: black;
  padding: 5px;
  color:white;
  position: absolute;
  
  top: 0px;
  right: 0px;
}
.custom-checkbox input {
  display: block;
  float: left;
  width: 50%;
}
</style>