.profile-wp {
  &.content-wrapper {
    .content-body {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

/** MODAL **/
.modal
{
  .modal-cms{
    h2 {
      margin-bottom: 0;
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
      padding: 0 0 25px;
      text-align: center;
    }
  }
  .modal-ico-close{
    position: absolute;
    right: 0;
    padding: 10px 15px;
    top: 0;
    font-size: 18px;
    cursor: pointer;
    z-index:10;
  }
}


.upload-images {
  display: block;
  height: 200px;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  margin-bottom: 20px;
  .placeholder {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border: 1px dashed #d5dee8;
    background: #fafbfc;
    width: 100%;
    height: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.3);
    font-size: 18px;
    text-align: center;
    padding: 40px 0;
    &:hover {
      background: rgba(52, 140, 199, 0.05);
    }
    img {
      opacity: 0.2;
    }
    small {
      display: block;
      @media(min-width:768px){
        max-width: 80%;
        margin: 10px auto;
      }
    }
  }
  .file-input {
    display: none;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .v-text-field input {
    font-size: 14px;
  }
}
