

<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal modal-sm"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            <span v-if="room">Detail Room "{{room.displayName}}"</span>
            <span v-else>Create Room</span>
            <button
              type="button"
              class="btn-close"
              @click="close"
              aria-label="Close modal"
            >
              x
            </button>
          </slot>
        </header>
        <div
          class="modal-body"
          id="modalDescription"
        >


          <div class="content-body profile-form">
        <!-- Using Commont -->
            <div class="align-items-center">
              <div class="form-group">
                <UploadImage :src="formData.imageUrl" v-on:getImage="getImageFromChild"/>
              </div>  


              <div class="form-group">
                <label for="displayName">Old Version </label>
                 <File :src="formData.assetBundle" v-on:getFile="getFileFromChild"/>
              </div>

              <div class="form-group">
                  <label for="displayName">Version 2018 </label>
                  <File :src="formData.versionAssetBundle.v2018.assetBundle" :extra="'v2018'" v-on:getFile="getFileFromChild"/>
                </div>

                <div class="form-group">
                  <label for="displayName">Version 2019 </label>
                  <File :src="formData.versionAssetBundle.v2019.assetBundle" :extra="'v2019'" v-on:getFile="getFileFromChild"/>
                </div>

                <div class="form-group">
                  <label for="displayName">Version 2020 </label>
                  <File :src="formData.versionAssetBundle.v2020.assetBundle" :extra="'v2020'" v-on:getFile="getFileFromChild"/>
                </div>


              <div class="form-group">
                <label for="displayName">Display Name</label>
                <input
                  v-model="formData.displayName"
                  class="form-control mb-2"
                  id="displayName"
                  type="text"
                  placeholder="Display Name"
                />
              </div>

              <div class="form-group">
                <label for="keyname">Key Name (*)</label>
                 <!-- <input
                  class="form-control prefix"
                  value="homestyler_"
                /> -->
                <input
                  type="text"
                  :disabled="room"
                  v-model="formData.keyname"
                  class="form-control"
                  id="keyname"
                  name="keyname"
                  placeholder="keyname"

                  v-bind:class="{ errors: errors.has('keyname')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('keyname')">{{errors.first('keyname')}}</span>
              </div>

              <div class="form-group">
                <label for="phone">Category</label>
                <select id="category" name="category" class="form-control" v-model="formData.category">
                    <option></option>
                    <option v-for="item in categories" :value="item.code">
                      {{ item.name}}
                    </option>
                </select>
              </div>

              <div class="form-group">
                <label for="dimension">Dimension</label>
                <div class="input-group">
                  <input
                  type="number"
    
                  v-model="formData.attrs.dimension.l"
                  class="form-control"
                  step="0.01"
                  placeholder="length"
                />
                <span class="input-group-addon" style="padding: 5px 10px 5px 10px;">x</span>
                <input
                
                  type="text"
                  
                   v-model="formData.attrs.dimension.w"
                  class="form-control"
                  step="0.01"
                  placeholder="width"
                />
                </div>
              </div>

              <div class="form-group">
                <label @click="showJson = !showJson" class="cursor-pointer text-bold" for="dataJson">Json (*) (Click to Show / Hide)</label>
                <textarea v-show="showJson || errors.has('dataJson')"
                  type="text"
                  v-model="dataJsonString"
                  class="form-control"
                  id="dataJson"
                  placeholder="Input JSON here ..."
                  name="dataJson"
                  rows=8
                  v-bind:class="{ errors: errors.has('dataJson')  }" v-validate="'required'"
                ></textarea>
                <span class="errors" v-if="errors.has('dataJson')">{{errors.first('dataJson')}}</span>
              </div>


              <div v-if="room" class="form-group mb-1 clearfix">
                <label  class="float-left mr-5">Status: </label>
                <div class="float-left">
                  <Status :value="formData.status"/>
                </div>
              </div>

              <div v-if="room" class="form-group clearfix">
                <label class=" mr-5">Items </label>
                <div class="clearfix">
                  <table class=" table table-striped table-bordered">
                    <tbody>
                      <tr v-for="(item, index) in listItems">
                        <td class="width-percent-20"><img v-if="item.object" class="max-height-75 width-percent-100" v-bind:src="item.object.thumbUrl"></td>
                        <td >{{index}}</td>
                        <td>{{item.count}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              
            </div>
          </div>

        </div>
        <footer class="modal-footer justify-content-between">
          
          <slot name="footer">
            <div  class="left"> 
              <button v-if="room && room.status == 'waiting'"
                type="button"
                class="btn-info ml-0"
                @click.self.prevent="approve" 
                :disabled="$store.state.isSaving"
                aria-label="approve room"
              >
                Approve
              </button>

              <button v-if="room  && room.status == 'waiting'"
                type="button"
                class="btn-danger"
                 @click.self.prevent="reject" 
                 :disabled="$store.state.isSaving"
                aria-label="reject modal"
              >
                Reject
              </button>
            </div>

            <div class="right"> 
              <button 
                type="button"
                class="btn-black"
                @click.self.prevent="validateAndSave" 
                :disabled="$store.state.isSaving"
                aria-label="Save modal"
              >
                Save
              </button>

              <button
                type="button"
                class="btn-white"
                @click="close"
                aria-label="Close modal"
              >
                Close
              </button>
            </div>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
  import Vue from "vue";
  import VeeValidate from 'vee-validate';
  import { 
    ApiRooms, 
    ApiUploadRoomThumb, 
    ApiUploadRoomAssetBundle,
    ApiGetListRoomItems,
    ApiApproveRoom,
    ApiRejectRoom
  } from "../../../config"; 
  import apiCall from "../../../helpers/apiCall";
  import apiBinaryPost from "../../../helpers/apiBinaryPost";
  import UploadImage from "../../../components/Partials/UploadImage";
  import File from "../../../components/Partials/File";
  import Status from "../../../components/Partials/Status";
  //import MaskedInput from 'vue-masked-input';

  Vue.use(VeeValidate)

  export default {
    name: 'Modal',
    props : [ 'room', 'categories'],
   components: {
      UploadImage,
      Status,
      File
    //  MaskedInput
    },
    data() {
      
      return {
        
        formData : {
          versionAssetBundle : {
            v2018 :{
              assetBundle: null
            },
            v2019 :{
              assetBundle: null
            },
            v2020 :{
              assetBundle: null
            }
          },
          dataJson: {},
          attrs : {
            dimension : {
              l : 0,
              w : 0
            }
          },
          keyname : "homestyler_"
        },
        dataJsonString : null,
        listItems: [],
        image:null,
        file: {
          "v2018" :null,
          "v2019" :null,
          "v2020" :null
        },
        fileSingle: null,
        imageUrl: null,
        //uploadFileName: null,
  
        updatedRoom: null,

        showJson : !this.room 

      }
    },
    created() {
      this.initData();
    },
    
    methods: {
      initData() {
        if (this.room){
          this.init();
        }
      },

      init(){
        let room = this.room;
        this.formData = Object.assign(this.formData, room);
        this.dataJsonString = JSON.stringify(room.dataJson);
        this.getListItems();
      },

      getListItems(){
        let urlGetListItems = `${ApiGetListRoomItems}`.replace(':key', this.room.keyname);
        apiCall('get', urlGetListItems).then(res => {  
              
              this.listItems = res.data.data || []; 

             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },

       validateAndSave(){
        this.$validator.validateAll().then(valid => {
          if(valid){
            if(this.room){
              this.save();
            }
            else{
              this.saveCreate();
            }

          }
        });
        
      },
      saveCreate(){
          let url = `${ApiRooms}`; 
          let urlUploadThumb = `${ApiUploadRoomThumb}`; 
          let urlUploadAssetBundle = `${ApiUploadRoomAssetBundle}`; 
          this.formData.dataJson = JSON.parse(this.dataJsonString);
          apiCall('post', url, this.formData).then(res => {  
              this.updatedRoom = res.data.data || null;
              // if(this.image){
              //   let formImage = new FormData();
              //   formImage.append('image', this.image);
              //   formImage.append('keyname', this.formData.keyname);
              //   apiBinaryPost(urlUploadThumb, formImage).then(resUpload => {
              //     this.close();   
              //   }).catch(errUp => {            
              //     console.log('errUpload', errUp);
              //   });
              // }
              // else{
              //   this.close();   
              // }
              let arrayPromise = [];

              if(this.fileSingle){
                  let formData = new FormData();
                  formData.append('file', this.fileSingle);
                  formData.append('keyname', this.formData.keyname);
                  arrayPromise.push(apiBinaryPost(urlUploadAssetBundle, formData));
              }
                
              let arraykeys = Object.keys(this.file);
              let files = this.file;
              let thisformData = this.formData;
              arraykeys.forEach(function(key){
                 let file = files[key];
                 if (file){
                    let formData = new FormData();
                    formData.append('file', file);
                    formData.append('keyname', thisformData.keyname);
                    arrayPromise.push(apiBinaryPost(urlUploadAssetBundle, formData, {headers : {Version: key}}));
                 }

              });

              // if (this.file){
              //     let formFile = new FormData();
              //     formFile.append('file', this.file);
              //     formFile.append('keyname', this.formData.keyname);
              //     arrayPromise.push(apiBinaryPost(urlUploadAssetBundle, formFile));
              // }
              
              if(this.image){
                  let formImage = new FormData();
                  formImage.append('image', this.image);
                  formImage.append('keyname', this.formData.keyname);
                  arrayPromise.push(apiBinaryPost(urlUploadThumb, formImage));
              }
              if (arrayPromise.length){
                Promise.all(arrayPromise)
                        .then(resPromise => { 
                            console.log("upload res: ", resPromise);
                            this.close();
                        }).catch(errorPromise => {
                            console.log('upload err',errorPromise);
                        });
              }else{
                    console.log("done Editing: ", res);
                    this.close();
              }
              

             } ).catch(err => {            
              console.log('err',err);
            }) ;
           
      },

      save(){
          let urlUpdate = `${ApiRooms}/${this.room.keyname}`; 
          let urlUploadThumb = `${ApiUploadRoomThumb}`; 
          let urlUploadAssetBundle = `${ApiUploadRoomAssetBundle}`; 
          this.formData.dataJson = JSON.parse(this.dataJsonString);
          apiCall('put', urlUpdate, this.formData).then(res => {  
              console.log("done Editing: ", res);
              this.updatedRoom = res.data.data || null;
             
              let arrayPromise = [];
              // if (this.file){
              //     let formFile = new FormData();
              //     formFile.append('file', this.file);
              //     formFile.append('keyname', this.formData.keyname);
              //     arrayPromise.push(apiBinaryPost(urlUploadAssetBundle, formFile));
              // }

              if(this.fileSingle){
                  let formData = new FormData();
                  formData.append('file', this.fileSingle);
                  formData.append('keyname', this.formData.keyname);
                  arrayPromise.push(apiBinaryPost(urlUploadAssetBundle, formData));
              }
                
              let arraykeys = Object.keys(this.file);
              let files = this.file;
              let thisformData = this.formData;
              arraykeys.forEach(function(key){
                 let file = files[key];
                 if (file){
                    let formData = new FormData();
                    formData.append('file', file);
                    formData.append('keyname', thisformData.keyname);
                    arrayPromise.push(apiBinaryPost(urlUploadAssetBundle, formData, {headers : {Version: key}}));
                 }

              });
              
              if(this.image){
                  let formImage = new FormData();
                  formImage.append('image', this.image);
                  formImage.append('keyname', this.formData.keyname);
                  arrayPromise.push(apiBinaryPost(urlUploadThumb, formImage));
              }
              if (arrayPromise.length){
                Promise.all(arrayPromise)
                        .then(resPromise => { 
                            console.log("upload res: ", resPromise);
                            this.close();
                        }).catch(errorPromise => {
                            console.log('upload err',errorPromise);
                        });
              }else{
                    console.log("done Editing: ", res);
                    this.close();
              }

             } ).catch(err => {            
              console.log('err',err);
            }) ;
           
      },

      approve(){
        let url = `${ApiApproveRoom}`.replace(':key', this.room.keyname);
        apiCall('post', url).then(res => {  
              this.updatedRoom = this.room;
              this.close();

             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },

      reject(){
        let url = `${ApiRejectRoom}`.replace(':key', this.room.keyname);
        apiCall('post', url).then(res => {  
              this.updatedRoom = this.room;
              this.close();

             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },

      close() {  
        this.$emit('closeChild');
        if(this.updatedRoom){
          this.$emit('childToParent', this.updatedRoom);
        }
      },

      getImageFromChild(arg){
        this.image = arg;
      },

      getFileFromChild(arg, version){  
        if(version){
          this.file[version] = arg;
        }
        else{
          this.fileSingle = arg;
        }
      }


    },
  };
</script>

<style>
 
</style>