

<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal modal-sm"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            <span v-if="role">Edit role {{role.name}}</span>
            <span v-else>Create Role</span>
            <button
              type="button"
              class="btn-close"
              @click="close"
              aria-label="Close modal"
            >
              x
            </button>
          </slot>
        </header>
        <div
          class="modal-body"
          id="modalDescription"
        >


          <div class="content-body profile-form">
        <!-- Using Commont -->
            <div class="align-items-center">
             

              <div class="form-group">
                <label for="name">Title *</label>
                <input
                  type="text"
                  v-model="formData.title"
                  class="form-control"
                  id="title" name="title"
                  placeholder="Title" v-bind:class="{ errors: errors.has('title')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('title')">{{errors.first('title')}}</span>
              </div>

              <div class="form-group">
                <label for="name">Name *</label>
                <input
                  type="text"
                  :disabled="role"
                  v-model="formData.name"
                  class="form-control"
                  id="name" name="name"
                  placeholder="Name" v-bind:class="{ errors: errors.has('name')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('name')">{{errors.first('name')}}</span>
              </div>
              
            </div>
          </div>

        </div>
        <footer class="modal-footer">
          <slot name="footer">
           <button 
              type="button"
              class="btn-black"
              @click.self.prevent="validateAndSave" 
              :disabled="$store.state.isSaving"
              aria-label="Save modal"
            >
              Save
            </button>

            <button
              type="button"
              class="btn-white"
              @click="close"
              aria-label="Close modal"
            >
              Close
            </button>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
  import Vue from "vue";
  import VeeValidate from 'vee-validate';
  import { ApiRoles } from "../../../config"; 
  import apiCall from "../../../helpers/apiCall";
  import apiBinaryPost from "../../../helpers/apiBinaryPost";
  import UploadImage from "../../../components/Partials/UploadImage";

  Vue.use(VeeValidate)

  export default {
    name: 'Modal',
    props : ['role'],
     components: {
     
    },
    data() {
      return {
        formData : {
          
        },
       
        image:null,
        

        updatedRole: null

      }
    },
    created() {
      this.initData();
    },
    
    methods: {
      initData() {

        this.initRole();
      },

      initRole(){
        let role = this.role;
        this.formData = Object.assign(this.formData, role);
      },

      validateAndSave(){
        this.$validator.validateAll().then(valid => {
          console.log(this.role)
          if(valid){
            if(this.role){
              this.edit();
            }
            else{
              this.create();
            }

          }
        });
        
      },
      
      edit(){
          let url = `${ApiRoles}/${this.role.name}`; 
          
          apiCall('put', url, this.formData).then(res => {  
              console.log("done Editing: ", res);
              this.updatedRole = res.data.data || null;

             
                  this.close(); 
                
                      
             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },

      create(){
          let url = `${ApiRoles}`; 
          
          apiCall('post', url, this.formData).then(res => {  
              console.log("done creating: ", res);
              this.updatedRole = res.data.data || null;

              
                  this.close(); 
                 

             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },


      close() {  
        this.$emit('closeChild');
        if(this.updatedRole){
          this.$emit('childToParent', this.updatedRole);
        }
      },

      childFromParent(arg){
        this.image = arg;
      }

    },
  };
</script>

<style>
 .inputfile-box {
  position: relative;
}

.inputfile {
  display: none;
}

.container {
  display: inline-block;
  width: 100%;
}

.file-box {
  display: inline-block;
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
  box-sizing: border-box;
  height: calc(2rem - 2px);
}

.file-button {
  background: black;
  padding: 5px;
  color:white;
  position: absolute;
  
  top: 0px;
  right: 0px;
}
.custom-checkbox input {
  display: block;
  float: left;
  width: 50%;
}
</style>