

<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal modal-xl"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            <span >Grant Permission for role "{{role.title}}"</span>
            <button
              type="button"
              class="btn-close"
              @click="close"
              aria-label="Close modal"
            >
              x
            </button>
          </slot>
        </header>
        <div
          class="modal-body"
          id="modalDescription"
        >


          <div class="content-body profile-form">
        <!-- Using Commont -->
            <div class="align-items-center">
             
                <div class="form-group" v-for="(items, key) in all_permissions">   
                    <div class="text-uppercase">{{key}}</div>
                    <div class="row ml-2">
                        <div class="col-sm-3 custom-control custom-checkbox" v-for="permission in items">
                            <input
                                type="checkbox"
                                class="custom-control-input"
                                :name="permission.name"
                                :id="permission.name"
                                v-model="formData[permission.name]"
                                >
                            <label :for="permission.name" class="custom-control-label">{{permission.title}}</label>
                        </div>
                    </div>
                </div>
            </div>
          </div>

        </div>
        <footer class="modal-footer">
          <slot name="footer">
           <button 
              type="button"
              class="btn-black"
              @click.self.prevent="validateAndSave" 
              :disabled="$store.state.isSaving"
              aria-label="Save modal"
            >
              Save
            </button>

            <button
              type="button"
              class="btn-white"
              @click="close"
              aria-label="Close modal"
            >
              Close
            </button>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
  import Vue from "vue";
  import VeeValidate from 'vee-validate';
  import { ApiRoles } from "../../../config"; 
  import apiCall from "../../../helpers/apiCall";

  Vue.use(VeeValidate)

  export default {
    name: 'Permission',
    props : ['role', 'permissions'],
     components: {
     
    },
    data() {
      return {
        formData : {
          
        },
        current_permissions: [],
        all_permissions: [],
        updatedRole: null

      }
    },
    created() {
      this.initData();
    },
    
    methods: {
        initData() {
            this.initRole();
        },

        initRole(){
            let role = this.role;
            this.buildPermissions();
        },
        buildPermissions(){
            this.all_permissions =  _.mapValues(_.groupBy(this.permissions, 'group'),
                          clist => clist.map(e => _.omit(e, 'group')));
            
            this.current_permissions = _.mapValues(_.groupBy(this.role.permissions, 'group'),
                          clist => clist.map(e => _.omit(e, 'group')));

            let current_permissions = this.role.permissions.map(function(obj){
                return obj.name;
            });
            let all_permissions = this.permissions;
            let formData = {};
            Object.keys(all_permissions).forEach(function(index){
                let name = all_permissions[index].name;
                formData[name] = false;
                if (current_permissions.includes(name)){
                    formData[name] = true;
                }
            });      
            this.formData = formData;     
        },

        validateAndSave(){
            this.$validator.validateAll().then(valid => {
            
            if(valid){
                this.edit();

            }
            });
            
        },
        
        edit(){
            let url = `${ApiRoles}/${this.role.name}`; 
            let formData = this.formData;
            let data = {
                permissions : Object.keys(this.formData).filter(function(key){
                    return formData[key] == true
                })
            }
          
            apiCall('put', url, data).then(res => {  
                console.log("done Editing: ", res);
                this.updatedRole = res.data.data || null;

                    this.close();          
                        
                } ).catch(err => {            
                console.log('err',err);
                }) ;
        },


        close() {  
            this.$emit('closeChild');
            if(this.updatedRole){
            this.$emit('childToParent', this.updatedRole);
            }
        },

    },
  };
</script>

<style>
 .inputfile-box {
  position: relative;
}

.inputfile {
  display: none;
}

.container {
  display: inline-block;
  width: 100%;
}

.file-box {
  display: inline-block;
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
  box-sizing: border-box;
  height: calc(2rem - 2px);
}

.file-button {
  background: black;
  padding: 5px;
  color:white;
  position: absolute;
  
  top: 0px;
  right: 0px;
}
.custom-checkbox input {
  display: block;
  float: left;
  width: 50%;
}
</style>