

<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal modal-sm"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            <span v-if="user">Edit account {{user.name}}</span>
            <span v-else>Create account</span>
            <button
              type="button"
              class="btn-close"
              @click="close"
              aria-label="Close modal"
            >
              x
            </button>
          </slot>
        </header>
        <div
          class="modal-body"
          id="modalDescription"
        >


          <div class="content-body profile-form">
        <!-- Using Commont -->
            <div class="align-items-center">        

              <div class="form-group">
                <label for="name">Name *</label>
                <input
                  type="text"
                  v-model="formData.name"
                  class="form-control"
                  id="name" name="name"
                  placeholder="Name" v-bind:class="{ errors: errors.has('name')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('name')">{{errors.first('name')}}</span>
              </div>

              <div class="form-group">
                <label for="name">Email *</label>
                <input
                  type="email"
                  :disabled="user"
                  v-model="formData.email"
                  class="form-control"
                  id="email" name="email"
                  placeholder="Email" v-bind:class="{ errors: errors.has('email')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('email')">{{errors.first('email')}}</span>
              </div>

              <div v-if="!user" class="form-group">
                <label for="name">Password *</label>
                <input
                  type="password"
                  :disabled="user"
                  v-model="formData.password"
                  class="form-control"
                  id="password" name="password"
                  placeholder="Password" v-bind:class="{ errors: errors.has('password')  }" v-validate="'required'"
                />
                <span class="errors" v-if="errors.has('password')">{{errors.first('password')}}</span>
              </div>

              <div class="form-group">
                <label for="status">Roles</label>
                  <multiselect
                    :multiple="true"
                    label="title"
                    track-by="name"
                    v-model="user_roles"
                    :options="roles">
                  </multiselect>
              </div>
              
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          name="active"
                          id="active"
                          v-model="formData.active"
                        >
                        <label for="active" class="custom-control-label">Active</label>
                </div>
              </div>


            </div>
          </div>

        </div>
        <footer class="modal-footer">
          <slot name="footer">
           <button 
              type="button"
              class="btn-black"
              @click.self.prevent="validateAndSave" 
              :disabled="$store.state.isSaving"
              aria-label="Save modal"
            >
              Save
            </button>

            <button
              type="button"
              class="btn-white"
              @click="close"
              aria-label="Close modal"
            >
              Close
            </button>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
  import Vue from "vue";
  import VeeValidate from 'vee-validate';
  import { ApiCMSUsers, STATUS_LIST } from "../../../config"; 
  import apiCall from "../../../helpers/apiCall";
  import apiBinaryPost from "../../../helpers/apiBinaryPost";
  import UploadImage from "../../../components/Partials/UploadImage";
  import Multiselect from 'vue-multiselect';

  Vue.use(VeeValidate)

  export default {
    name: 'Modal',
    props : ['user', 'roles'],
     components: {
      UploadImage,
      Multiselect
    },
    data() {
      return {
        user_roles : [],
        formData : {
          
        },
        status: STATUS_LIST,
        image:null,
        imageUrl: null,

        updatedUser: null

      }
    },
    created() {
      this.initData();
    },
    
    methods: {
      initData() {

        this.initUser();
      },

      initUser(){
        let user = this.user;
        this.formData = Object.assign(this.formData, user);
        this.user_roles = this.formData.roles || [];
      },

      validateAndSave(){
        this.$validator.validateAll().then(valid => {
          console.log(this.user)
          if(valid){
            if(this.user){
              this.edit();
            }
            else{
              this.create();
            }

          }
        });
        
      },
      
      edit(){
          let url = `${ApiCMSUsers}/${this.user.auth_id}`; 
          this.formData.roles = this.user_roles;
          console.log(this.formData);
          apiCall('put', url, this.formData).then(res => {  
              console.log("done Editing: ", res);
              this.updatedUser = res.data.data || null;

                this.close(); 
                      
             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },

      create(){
          let url = `${ApiCMSUsers}`; 
          this.formData.roles = this.user_roles;
          apiCall('post', url, this.formData).then(res => {  
              console.log("done creating: ", res);
              this.updatedUser = res.data.data || null;
 
                this.close(); 
                 

             } ).catch(err => {            
              console.log('err',err);
            }) ;
      },


      close() {  
        this.$emit('closeChild');
        if(this.updatedUser){
          this.$emit('childToParent', this.updatedUser);
        }
      },

      childFromParent(arg){
        this.image = arg;
      }

    },
  };
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
 .inputfile-box {
  position: relative;
}

.inputfile {
  display: none;
}

.container {
  display: inline-block;
  width: 100%;
}

.file-box {
  display: inline-block;
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
  box-sizing: border-box;
  height: calc(2rem - 2px);
}

.file-button {
  background: black;
  padding: 5px;
  color:white;
  position: absolute;
  
  top: 0px;
  right: 0px;
}
.custom-checkbox input {
  display: block;
  float: left;
  width: 50%;
}
</style>