<template>
    <ContentWrapper class="dashboard-wp">
        <div class="content-heading row clearfix">
            <h3>Overall</h3>
            <!-- <div class="ml-auto col-md-8">
                <div class="form-group search-top">
                    <span class="icon-magnifier form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </div> -->
        </div>

        <!-- START cards box-->
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <!-- START card-->
                <div class="card bg-info-object pt-2 b0">
                    <div class="px-2">
                        <em class="fa fa-cube fa-lg float-right"></em>
                        <div class="h1 mt-0">{{overall.objects_count}}
                            <span class="text-sm text-white text-uppercase">Items</span>
                        </div>
                        <div class="h3 text">{{overall.published_objects_count}}
                            <span class="text-sm text-white text">Published</span>
                        </div>
                    </div>
                    <Sparkline :options="{
                            type:'line',
                            width:'100%',
                            height:'75px',
                            lineColor:'#3e3e3e',
                            chartRangeMin:'0',
                            fillColor:'#3e3e3e',
                            spotColor:'#3e3e3e',
                            minSpotColor:'#3e3e3e',
                            maxSpotColor:'#3e3e3e',
                            highlightSpotColor:'#3e3e3e',
                            highlightLineColor:'#3e3e3e',
                            resize:true
                        }"
                        :values="[2,5,4,5,3,5]"
                        :style="{marginBottom: '-2px'}"
                    />
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <!-- START card-->
                <div class="card bg-info-bundle pt-2 b0">
                    <div class="px-2">
                        <em class="fa fa-cubes fa-lg float-right"></em>
                        <div class="h1 mt-0">{{overall.bundles_count}}
                            <span class="text-sm text-white text-uppercase">Bundles</span>
                        </div>
                        <div class="h3 text">{{overall.published_bundles_count}}
                            <span class="text-sm text-white text">Published</span>
                        </div>
                    </div>
                    <Sparkline :options="{
                            type:'line',
                            width:'100%',
                            height:'75px',
                            lineColor:'#da6725f5',
                            chartRangeMin:'0',
                            fillColor:'#da6725f5',
                            spotColor:'#da6725f5',
                            minSpotColor:'#da6725f5',
                            maxSpotColor:'#da6725f5',
                            highlightSpotColor:'#da6725f5',
                            highlightLineColor:'#da6725f5',
                            resize:true
                        }"
                        :values="[1,4,5,4,8,7,10]"
                        :style="{marginBottom: '-2px'}"
                    />
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-12">
                <!-- START card-->
                <div class="card bg-info-project pt-2 b0">
                    <div class="px-2">
                        <em class="fa fa-folder-open fa-lg float-right"></em>
                        <div class="h1 mt-0">{{overall.projects_count}}
                            <span class="text-sm text-white text-uppercase">Projects</span>
                        </div>
                        <div class="h3 text">{{overall.published_projects_count}}
                            <span class="text-sm text-white text">Published</span>
                        </div>
                    </div>
                    <Sparkline :options="{
                            type:'line',
                            width:'100%',
                            height:'75px',
                            lineColor:'#3968d4',
                            chartRangeMin:'0',
                            fillColor:'#3968d4',
                            spotColor:'#3968d4',
                            minSpotColor:'#3968d4',
                            maxSpotColor:'#3968d4',
                            highlightSpotColor:'#3968d4',
                            highlightLineColor:'#3968d4',
                            resize:true
                        }"
                        :values="[4,5,3,10,7,15]"
                        :style="{marginBottom: '-2px'}"
                    />
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-12">
                <!-- START card-->
                <div class="card bg-purple-light pt-2 b0">
                    <div class="px-2">
                        <em class="fas fa-building fa-lg float-right"></em>
                        <div class="h1 mt-0">{{overall.layouts_count}}
                            <span class="text-sm text-white text-uppercase">Layouts</span>
                        </div>
                        <div class="h3 text">{{overall.published_layouts_count}}
                            <span class="text-sm text-white text">Published</span>
                        </div>
                    </div>
                    <Sparkline :options="{
                            type:'line',
                            width:'100%',
                            height:'75px',
                            lineColor:'#7266ba',
                            chartRangeMin:'0',
                            fillColor:'#7266ba',
                            spotColor:'#7266ba',
                            minSpotColor:'#7266ba',
                            maxSpotColor:'#7266ba',
                            highlightSpotColor:'#7266ba',
                            highlightLineColor:'#7266ba',
                            resize:true
                        }"
                        :values="[1,3,4,5,7,8]"
                        :style="{marginBottom: '-2px'}"
                    />
                </div>
            </div>
        </div>
        <!-- END cards box-->

        
        <div class="content-body mb-4">
            <div class="pl-3 row clearfix">
                <h3>Newest users</h3>
            </div>
            <div class="card-deck margin-lr-7-5-plus">
                <div v-for="user in newestUsers" class="card cms-card margin-lr-7-5">
                    <div class="card-header">
                        <img v-bind:src="user.avatarUrl" class="mr-3" alt="...">
                        <div class="flex-1">
                            <h5 class="mt-0">{{user.full_name}}</h5>
                            <span>{{user.phone || 'No phone'}}</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-ico">
                            <i class="icon-envelope"></i>
                            <p class="card-txt">
                                <label>Email </label>
                                <span>{{user.email}}</span>
                            </p>
                        </div>
                        <div class="card-ico">
                            <i class="icon-location-pin"></i>
                            <p class="card-txt">
                                <label>Address </label>
                                <span>{{user.address}}</span>
                            </p>
                        </div>
                        
                    </div>
                </div>

                
            </div>
        </div>
        
        <!-- START chart-->
        <div class="row">
            <!-- <div class="col-xl-12">
                
                <div class="card card-default" id="cardChart9">
                    <div class="card-header">
                        <div class="card-title">Website Performance</div>
                    </div>
                    <div class="card-wrapper">
                        <div class="card-body">
                             <FlotChart :data="splineData" :options="splineOptions" height="250px" /> 
                        </div>
                    </div>
                </div>
               
            </div> -->
        </div>
        <!-- END chart-->
        <!-- <div class="row">
            <div class="col-xl-6">
                
                <div class="card card-transparent" role="tabpanel">
                    
                    <b-tabs content-class="p-0 bg-white" nav-class="nav-fill">
                        <b-tab active>
                            <template slot="title">
                                <em class="far fa-clock fa-fw"></em>Tasks Card
                            </template>
                            
                            <div class="list-group mb-0">
                                <a class="list-group-item bt0" href="#">
                                <span class="badge badge-purple float-right">just now</span>
                                <em class="fa-fw fas fa-calendar-alt mr-2"></em>Calendar updated</a>
                                <a class="list-group-item" href="#">
                                <span class="badge badge-purple float-right">4 minutes ago</span>
                                <em class="fa-fw fa fa-comment mr-2"></em>Commented on a post</a>
                                <a class="list-group-item" href="#">
                                <span class="badge badge-purple float-right">23 minutes ago</span>
                                <em class="fa-fw fa fa-truck mr-2"></em>Order 392 shipped</a>
                                <a class="list-group-item" href="#">
                                <span class="badge badge-purple float-right">46 minutes ago</span>
                                <em class="fa-fw far fa-money-bill-alt mr-2"></em>Invoice 653 has been paid</a>
                                <a class="list-group-item" href="#">
                                <span class="badge badge-purple float-right">1 hour ago</span>
                                <em class="fa-fw fa fa-user mr-2"></em>A new user has been added</a>
                                <a class="list-group-item" href="#">
                                <span class="badge badge-purple float-right">2 hours ago</span>
                                <em class="fa-fw fa fa-check mr-2"></em>Completed task: "pick up dry cleaning"</a>
                                <a class="list-group-item" href="#">
                                <span class="badge badge-purple float-right">yesterday</span>
                                <em class="fa-fw fa fa-globe mr-2"></em>Saved the world</a>
                                <a class="list-group-item" href="#">
                                <span class="badge badge-purple float-right">two days ago</span>
                                <em class="fa-fw fa fa-check mr-2"></em>Completed task: "fix error on sales page"</a>
                                <a class="list-group-item" href="#">
                                <span class="badge badge-purple float-right">two days ago</span>
                                <em class="fa-fw fa fa-check mr-2"></em>Completed task: "fix error on sales page"</a>
                            </div>
                            
                            <div class="card-footer text-right">
                                <button class="btn btn-secondary btn-sm" type="button">View All Activity</button>
                            </div>
                        </b-tab>
                        <b-tab>
                            <template slot="title">
                                <em class="far fa-money-bill-alt fa-fw"></em>Transactions Card
                            </template>
                            
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Order #</th>
                                            <th>Order Date</th>
                                            <th>Order Time</th>
                                            <th>Amount (USD)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>3326</td>
                                            <td>10/21/2013</td>
                                            <td>3:29 PM</td>
                                            <td>$321.33</td>
                                        </tr>
                                        <tr>
                                            <td>3325</td>
                                            <td>10/21/2013</td>
                                            <td>3:20 PM</td>
                                            <td>$234.34</td>
                                        </tr>
                                        <tr>
                                            <td>3324</td>
                                            <td>10/21/2013</td>
                                            <td>3:03 PM</td>
                                            <td>$724.17</td>
                                        </tr>
                                        <tr>
                                            <td>3323</td>
                                            <td>10/21/2013</td>
                                            <td>3:00 PM</td>
                                            <td>$23.71</td>
                                        </tr>
                                        <tr>
                                            <td>3322</td>
                                            <td>10/21/2013</td>
                                            <td>2:49 PM</td>
                                            <td>$8345.23</td>
                                        </tr>
                                        <tr>
                                            <td>3321</td>
                                            <td>10/21/2013</td>
                                            <td>2:23 PM</td>
                                            <td>$245.12</td>
                                        </tr>
                                        <tr>
                                            <td>3320</td>
                                            <td>10/21/2013</td>
                                            <td>2:15 PM</td>
                                            <td>$5663.54</td>
                                        </tr>
                                        <tr>
                                            <td>3319</td>
                                            <td>10/21/2013</td>
                                            <td>2:13 PM</td>
                                            <td>$943.45</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                            <div class="card-footer text-right">
                                <a class="btn btn-secondary btn-sm" href="#">View All Transactions</a>
                            </div>
                        </b-tab>
                    </b-tabs>
                </div>
               
            </div>
            <div class="col-xl-6">
                <div class="card card-transparent">
                    <VectorMap height="450px" :options="options" :series="series" :markers="markers"/> 
                </div>
            </div>
        </div> -->
        <!-- START cards-->
        <div class="row">
            <div  class="col-xl-6">
                <div class="card card-default">
                    <div class="card-header">
                        <!-- <div class="px-2 float-right badge badge-danger">5</div>
                        <div class="px-2 mr-2 float-right badge badge-success">12</div> -->
                        <div class="card-title">NEWEST FEEDBACKS</div>
                    </div>
                    <!-- START list group-->
                    <Scrollable :height="230">
                        <div class="list-group">
                            <!-- START list group item-->
                            <div v-for="feedback in newestFeedbacks" class="list-group-item list-group-item-action">
                                <div class="media">
                                    <img class="align-self-start mx-2 circle thumb32" v-bind:src="feedback.owner.avatarUrl" alt="Image">
                                    <div class="media-body text-truncate">
                                        <p class="mb-1">
                                            <strong class="text-primary">
                                   <!-- <span class="circle bg-success circle-lg text-left"></span> -->
                                   <span>{{feedback.owner.full_name}}</span>
                                </strong>
                                        </p>
                                        <p class="mb-1 text-sm">{{feedback.content}}</p>
                                    </div>
                                    <div class="ml-auto">
                                        <small class="text-muted ml-2">{{feedback.created_at_format}}</small>
                                    </div>
                                </div>
                            </div>

                            
                            <!-- END list group item-->
                        </div>
                        <div v-if="!newestFeedbacks.length" class="list-group">
                            <div class="text-center">
                                    loading ...
                                </div>
                        </div>
                    </Scrollable>
                    <!-- END list group-->
                    <!-- START card footer-->
                    <!-- <div class="card-footer">
                        <div class="input-group">
                            <input class="form-control form-control-sm" type="text" placeholder="Search message ..">
                            <span class="input-group-btn">
                      <button class="btn btn-secondary btn-sm" type="submit"><i class="fa fa-search"></i></button>
                   </span>
                        </div>
                    </div> -->
                    <!-- END card-footer-->
                </div>
            </div>
            <div class="col-xl-3">
                <!-- START loader widget-->
                <div class="card card-default">
                    <div class="card-body">
                        <a class="text-muted float-right" href="#">
                   <em class="fa fa-arrow-right"></em>
                </a>
                        <div class="text-info">Average Monthly Uploads</div>
                        <div class="text-center py-4">
                            <div ref="easypiechart" class="easypie-chart easypie-chart-lg" data-percent="70">
                                <span>70%</span>
                            </div>
                        </div>
                        <Sparkline :options="{
                                barColor:'#23b7e5',
                                height:30,
                                barWidth:5,
                                barSpacing:2
                            }"
                            :values="[5,4,8,7,8,5,4,6,5,5,9,4,6,3,4,7,5,4,7]"
                            class="text-center"/>
                    </div>
                    <div class="card-footer">
                        <p class="text-muted">
                            <em class="fa fa-upload fa-fw"></em>
                            <span>This Month</span>
                            <span class="text-dark">1000 Gb</span>
                        </p>
                    </div>
                </div>
                <!-- END loader widget-->
            </div>
            <!-- <div class="col-xl-3">
                
                <div class="card card-default">
                    <div class="card-header">
                        <div class="card-title">Latest activities</div>
                    </div>
                    
                    <div class="list-group">
                        
                        <div class="list-group-item">
                            <div class="media">
                                <div class="align-self-start mr-2">
                                    <span class="fa-stack">
                            <em class="fa fa-circle fa-stack-2x text-purple"></em>
                            <em class="fas fa-cloud-upload-alt fa-stack-1x fa-inverse text-white"></em>
                         </span>
                                </div>
                                <div class="media-body text-truncate">
                                    <p class="mb-1">
                                        <a class="text-purple m-0" href="#">NEW FILE</a>
                                    </p>
                                    <p class="m-0">
                                        <small>
                               <a href="#">Bootstrap.xls</a>
                            </small>
                                    </p>
                                </div>
                                <div class="ml-auto">
                                    <small class="text-muted ml-2">15m</small>
                                </div>
                            </div>
                        </div>
                        
                        <div class="list-group-item">
                            <div class="media">
                                <div class="align-self-start mr-2">
                                    <span class="fa-stack">
                            <em class="fa fa-circle fa-stack-2x text-info"></em>
                            <em class="far fa-file-alt fa-stack-1x fa-inverse text-white"></em>
                         </span>
                                </div>
                                <div class="media-body text-truncate">
                                    <p class="mb-1">
                                        <a class="text-info m-0" href="#">NEW DOCUMENT</a>
                                    </p>
                                    <p class="m-0">
                                        <small>
                               <a href="#">Bootstrap.doc</a>
                            </small>
                                    </p>
                                </div>
                                <div class="ml-auto">
                                    <small class="text-muted ml-2">2h</small>
                                </div>
                            </div>
                        </div>
                        
                        <div class="list-group-item">
                            <div class="media">
                                <div class="align-self-start mr-2">
                                    <span class="fa-stack">
                            <em class="fa fa-circle fa-stack-2x text-danger"></em>
                            <em class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em>
                         </span>
                                </div>
                                <div class="media-body text-truncate">
                                    <p class="mb-1">
                                        <a class="text-danger m-0" href="#">BROADCAST</a>
                                    </p>
                                    <p class="m-0">
                                        <a href="#">Read</a>
                                    </p>
                                </div>
                                <div class="ml-auto">
                                    <small class="text-muted ml-2">5h</small>
                                </div>
                            </div>
                        </div>
                        
                        <div class="list-group-item">
                            <div class="media">
                                <div class="align-self-start mr-2">
                                    <span class="fa-stack">
                            <em class="fa fa-circle fa-stack-2x text-success"></em>
                            <em class="far fa-clock fa-stack-1x fa-inverse text-white"></em>
                         </span>
                                </div>
                                <div class="media-body text-truncate">
                                    <p class="mb-1">
                                        <a class="text-success m-0" href="#">NEW MEETING</a>
                                    </p>
                                    <p class="m-0">
                                        <small>On
                               <em>10/12/2015 09:00 am</em>
                            </small>
                                    </p>
                                </div>
                                <div class="ml-auto">
                                    <small class="text-muted ml-2">15h</small>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="card-footer">
                        <a class="text-sm" href="#">Load more</a>
                    </div>
                    
                </div>
                
            </div> -->
            
            <!-- END dashboard sidebar-->
        </div>
        <!-- END cards-->
    </ContentWrapper>
</template>


<script>
    import Vue from "vue";
    import VeeValidate from 'vee-validate';
    import { 
        ApiDashboard
    } from "../../config"; 
    import apiCall from "../../helpers/apiCall";
    import { get, concat } from "lodash";
    import swal from 'sweetalert';

    import VTooltip from 'v-tooltip';
    import toast from "../../helpers/toast";

    import EasyPieChart from 'easy-pie-chart';
    import Sparkline from '@/components/Common/Sparklines';
    import Scrollable from '@/components/Common/Scrollable'
    import FlotChart from '@/components/Charts/Flot';
    import VectorMap from '@/components/Maps/VectorMap';

    const defaultColors = {
        markerColor:  '#23b7e5',      // the marker points
        bgColor:      'transparent',  // the background
        scaleColors:  ['#878c9a'],    // the color of the region in the serie
        regionFill:   '#bbbec6'       // the base region color
    };

    const RegionValues = {
        'CA': 11100,   // Canada
        'DE': 2510,    // Germany
        'FR': 3710,    // France
        'AU': 5710,    // Australia
        'GB': 8310,    // Great Britain
        'RU': 9310,    // Russia
        'BR': 6610,    // Brazil
        'IN': 7810,    // India
        'CN': 4310,    // China
        'US': 839,     // USA
        'SA': 410      // Saudi Arabia
    }

    export default {
        name: 'Dashboard',
        components: {
            Sparkline,
            Scrollable,
            FlotChart,
            VectorMap
        },
        created() {
            this.getOverall();
            this.getNewestUsers();
            this.getNewestFeedbacks();
        },
        methods: {
            getOverall(){
                let url = `${ApiDashboard.overall}`;
                apiCall("get", url)
                    .then(res => {                   
                        this.overall = Object.assign(this.overall, res.data.data);        
                    })
                    .catch(error => {
                    console.error(error);
                    });
            },
            getNewestUsers(){
                let url = `${ApiDashboard.newestUsers}`;
                apiCall("get", url)
                    .then(res => {                   
                        
                        this.newestUsers = Object.assign(this.newestUsers, res.data.data.list);   
                       
                    })
                    .catch(error => {
                    console.error(error);
                    });
            },
            getNewestFeedbacks(){
                let url = `${ApiDashboard.newestFeedbacks}`;
                apiCall("get", url)
                    .then(res => {                                     
                        this.newestFeedbacks = Object.assign(this.newestFeedbacks, res.data.data.list);   
                    })
                    .catch(error => {
                    console.error(error);
                    });
            }
        },
        data() {
            return {
                overall : {
                    objects_count : 0,
                    bundles_count : 0,
                    layouts_count : 0,
                    projects_count : 0,
                    published_objects_count : 0,
                    published_bundles_count : 0,
                    published_layouts_count : 0,
                    published_projects_count : 0
                },
                newestUsers : [],
                newestFeedbacks : [],
                itemsCard: [
                    { 
                    thumbnail: 'img/no-photo.png', 
                    user_name: 'Dickerson Macdonald', 
                    address: '', 
                    email: 'Macdonald@gmail.com', 
                    phone: '0906567456' 
                    }
                ],
                splineData: [{
                    "label": "Home",
                    "color": "#1ba3cd",
                    "data": [
                        ["1", 38],
                        ["2", 40],
                        ["3", 42],
                        ["4", 48],
                        ["5", 50],
                        ["6", 70],
                        ["7", 145],
                        ["8", 70],
                        ["9", 59],
                        ["10", 48],
                        ["11", 38],
                        ["12", 29],
                        ["13", 30],
                        ["14", 22],
                        ["15", 28]
                    ]
                }, {
                    "label": "Overall",
                    "color": "#3a3f51",
                    "data": [
                        ["1", 16],
                        ["2", 18],
                        ["3", 17],
                        ["4", 16],
                        ["5", 30],
                        ["6", 110],
                        ["7", 19],
                        ["8", 18],
                        ["9", 110],
                        ["10", 19],
                        ["11", 16],
                        ["12", 10],
                        ["13", 20],
                        ["14", 10],
                        ["15", 20]
                    ]
                }],
                splineOptions: {
                    series: {
                        lines: {
                            show: false
                        },
                        points: {
                            show: true,
                            radius: 4
                        },
                        splines: {
                            show: true,
                            tension: 0.4,
                            lineWidth: 1,
                            fill: 0.5
                        }
                    },
                    grid: {
                        borderColor: '#eee',
                        borderWidth: 1,
                        hoverable: true,
                        backgroundColor: '#fcfcfc'
                    },
                    tooltip: true,
                    tooltipOpts: {
                        content: (label, x, y) => x + ' : ' + y
                    },
                    xaxis: {
                        tickColor: '#fcfcfc',
                        mode: 'categories'
                    },
                    yaxis: {
                        min: 0,
                        max: 150, // optional: use it for a clear represetation
                        tickColor: '#eee',
                        //position: 'right' or 'left',
                        tickFormatter: v => v
                    },
                    shadowSize: 0
                },

                // VectorMap
                series: {
                    regions: [{
                        values: RegionValues,
                        scale: defaultColors.scaleColors,
                        normalizeFunction: 'polynomial'
                    }]
                },
                markers: [
                    { latLng:[41.90, 12.45],  name:'Vatican City'          },
                    { latLng:[43.73, 7.41],   name:'Monaco'                },
                    { latLng:[-0.52, 166.93], name:'Nauru'                 },
                    { latLng:[-8.51, 179.21], name:'Tuvalu'                },
                    { latLng:[7.11,171.06],   name:'Marshall Islands'      },
                    { latLng:[17.3,-62.73],   name:'Saint Kitts and Nevis' },
                    { latLng:[3.2,73.22],     name:'Maldives'              },
                    { latLng:[35.88,14.5],    name:'Malta'                 },
                    { latLng:[41.0,-71.06],   name:'New England'           },
                    { latLng:[12.05,-61.75],  name:'Grenada'               },
                    { latLng:[13.16,-59.55],  name:'Barbados'              },
                    { latLng:[17.11,-61.85],  name:'Antigua and Barbuda'   },
                    { latLng:[-4.61,55.45],   name:'Seychelles'            },
                    { latLng:[7.35,134.46],   name:'Palau'                 },
                    { latLng:[42.5,1.51],     name:'Andorra'               }
                ],
                options: {
                    map: 'world_mill_en',
                    backgroundColor: defaultColors.bgColor,
                    zoomMin: 1,
                    zoomMax: 8,
                    zoomOnScroll: false,
                    regionStyle: {
                        initial: {
                            'fill': defaultColors.regionFill,
                            'fill-opacity': 1,
                            'stroke': 'none',
                            'stroke-width': 1.5,
                            'stroke-opacity': 1
                        },
                        hover: {
                            'fill-opacity': 0.8
                        },
                        selected: {
                            fill: 'blue'
                        },
                        selectedHover: {}
                    },
                    focusOn: {
                        x: 0.4,
                        y: 0.6,
                        scale: 1
                    },
                    markerStyle: {
                        initial: {
                            fill: defaultColors.markerColor,
                            stroke: defaultColors.markerColor
                        }
                    },
                    onRegionLabelShow: (e, el, code) => {
                        if (RegionValues[code])
                            el.html(el.html() + ': ' + RegionValues[code] + ' visitors');
                    }
                },

                selectedLanguage() {
                    switch(this.$i18n.i18next.language) {
                        case 'es': return 'Spanish'; break;
                        case 'en': default: return 'English';
                    }
                }
            }
        },
        mounted() {
             this.$emit("showLoading", false);
            // EasyPieChar
            let pieOptions1 = {
                 animate: {duration: 800, enabled: true},
                 barColor:"#23b7e5",
                 trackColor:"rgba(200,200,200,0.4)",
                 scaleColor:false,
                 lineWidth:10,
                 lineCap:'round',
                 size:145
            };
            new EasyPieChart(this.$refs.easypiechart, pieOptions1);
        }
        // methods: {
        //     changeLanguage (lang) {
        //         this.$i18n.i18next.changeLanguage(lang);
        //     }
        // }

    }

</script>
<style lang="scss" scoped>
    .bg-info-object{
        background-color: #7e7777 !important;
        color: #ffffff;
    }
    
    .bg-info-bundle{
        background-color: #f17833f5 !important;
        color: #ffffff;
    }

    .bg-info-project{
        background-color: #4980fd !important;
        color: #ffffff;
    }
</style>