<template>
  <ContentWrapper class="color-wp" v-bind:class="{'content-disabled' : isUploading}">
    <div class="content-heading justify-content-between">
      <h2>Colors Management</h2>
      <div class="button">
        <input type="file" name="file" id="file" class="inputfile" ref="inputfile" @change="uploadExcelColor" hidden>
        <button class="btn btn-fprimary btn-add" @click="$refs.inputfile.click()">
            <i class="fa fa-upload"></i> 
        </button>
        &nbsp;
        <button class="btn btn-fprimary btn-add" @click="showModal()">
          <i class="fa fa-plus"></i> 
        </button>
      </div>
    </div>
    <div class="content-body pl-0 pr-0">
      <div class="form-group float-left">
        <select id="group" name="group" class="form-control"  @change="onSelectGroup($event)">
                    <option value="">Select Group</option>
                    <option v-for="(item, index) in groups" :value="item.code" :key="index">
                      {{ item.name}} ( {{item.code}})
                    </option>
        </select>
      </div>

       <v-server-table ref="table"
        :columns="['hex', 'group', 'name','code', 'price', 'surface', 'action']"
        :options="options" class="cms-table">
        
        <template slot="hex" slot-scope="props" class="col-status text-center" >
          <div class="max-width-75 line-height-30" v-bind:style="{'background':'#' + props.row.hex }">&nbsp;</div>
            
        </template>
        <template slot="group" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            <b>{{ props.row.group }}</b>
          </span>
        </template>
        <template slot="name" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            <b>{{ props.row.name }}</b>
          </span>
        </template>
        <template slot="price" slot-scope="props" class="col-status text-center" >
          <span class="">
            <b>{{ props.row.attrs.price }}</b>
          </span>
        </template>
        <template slot="surface" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            <b>{{ props.row.attrs.surface }} m²</b>
          </span>
        </template>
        <template slot="action" slot-scope="props">
          <div>
            <button class="btn btn-xs mr-1" @click.prevent="edit(props.row)"
            v-tooltip.bottom="{
              content: 'Edit Color',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="far fa-edit"></i>
            </button>
            <button class="btn btn-xs mr-1" @click.prevent="remove(props.row)"
             v-tooltip.bottom="{
              content: 'Delete Color',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="fa fa-trash"></i>
            </button>
            
            
          </div>
        </template>
      </v-server-table>
      
    </div>

    <Modal
      v-on:childToParent="onCloseModal"
      v-on:closeChild="closeModal"
      v-if="openModalState"
      :color="editingColor"
      :groups="groups"
    />
  </ContentWrapper>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Vue from "vue";
import { ServerTable } from "vue-tables-2";
import { ApiColors , ApiColorGroups, ApiUploadColorByExcel} from "../../config";
import apiCall from "../../helpers/apiCall";
import apiBinaryPost from "../../helpers/apiBinaryPost";
import { get, concat } from "lodash";
import swal from "sweetalert";

import VTooltip from "v-tooltip";
import Modal from "./Modal/AddEdit.vue";
import toast from "../../helpers/toast";

Vue.use(VTooltip);
Vue.use(ServerTable);

export default {
  components: {
    ServerTable,
    Modal
  },
  mounted() {},
  data() {
    return {
      
      groups: [],
      isDeleting: false,
      openModalState: false,
      editingColor: null,
      isUploading: false,
      
      options: {
        
        requestFunction: (function (params) {
          params.name = params.query;
          let queryString = Object.keys(params).map(function(key) {
            if(params[key]){
              return key + '=' + params[key]
            }
          }).join('&');
          let url = `${ApiColors}?${queryString}`;
          
          return apiCall("get", url);
        }).bind(this),

        responseAdapter : function(resp) { 
          
          var data = this.getResponseData(resp);
          let list =  data.data.data.list;
          list = list.map((item, index) => {
                item["id"] = index;
                return item;
            });
          
          let result = { data: list, count: data.data.meta.total };
          return result;
        },
        params : {
          group : null
        },
        perPage: 20,
        perPageValues:[20, 50, 100],
        pagination: {  
          edge: true,
          dropdown: false,
          chunk: 5   
        },
        headings: {
           
          
        },
        sortable : ['name', 'group'],
        sortIcon: {
          is: "fa-chevron-down",
          base: "fas",
          up: "fa-chevron-up",
          down: "fa-chevron-down"
        },
        columnsClasses: {
        
          imageUrl: "width-100",
          action: "width-100"
        },
        
      },
    };
  },
  created() {
    this.initColorGroups();
    this.$emit("showLoading", false);
    //this.getData();
  },
  methods: {
    initColorGroups() {
      let url = `${ApiColorGroups}`;
      apiCall("get", url)
        .then(res => {
          this.groups = get(res.data, "data.list", []);
          
        })
        .catch(error => {
          console.error(error);
        });
    },
    // getData() {
      
    //   this.$emit("showLoading", true);
    //   //let url = `${ApiColors}?page=${this.currentPage + 1}&per_page=${this.limit}`;
    //   let url = `${ApiColors}`;
    //   url = this.buildUrl(url);
    //   apiCall("get", url)
    //     .then(res => {
    //       this.$emit("showLoading", false);
    //       this.colors = get(res.data, "data.list", []);
          
          
    //     })
    //     .catch(error => {
    //       console.error(error);
    //     });
    // },

    showModal() {
      this.openModalState = true;
    },

    remove(row) {
      //Show Notify
      swal({
        title: "Are you sure?",
        text:
          "Color " +
          row.name +
          " will be deleted, you will not be able to recover this!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
        customClass: "notifySwal"
      }).then(willDelete => {
        if (willDelete) {
          //this.isDeleting = true;
          this.$emit("showLoading", true);
          apiCall("delete", ApiColors + "/" + row.code)
            .then(res => {
              console.log(res);
              swal("Delete succeeded!", {
                icon: "success"
              });
              //this.isDeleting = false;
              this.$emit("showLoading", false);
              // const i = _.findIndex(this.listData, { id: row.phone });
              // if (i >= 0) {
              //   this.listData.splice(i, 1);
              // }
              this.reload();
            })
            .catch(error => {
              console.error(error);
            });
        }
        // else {
        //   swal("Your style is safe!");
        // }
      });
    },

    reload() {
      this.$refs.table.refresh();
    },

    edit(row) {
      this.editingColor = row;
      this.openModalState = true;
    },

    closeModal() {
      console.log("normal close");
      this.openModalState = false;
      this.editingColor = null;
    },

    onCloseModal(value) {
      console.log("Callback from child : ", value);
      this.editingColor = null;
      if (value) {
        toast.success("Success");
        this.reload();
      }
    },
    onSelectGroup(event){
      let value = event.target.value;
      this.options.params.group = value;
      this.reload();
      
    },

    buildUrl(url){
      let params = this.params;
      var queryString = Object.keys(params).map(function(key) {
          if(params[key]){
            return key + '=' + params[key]
          }
          
      }).join('&');
      console.log(queryString);
      return url + '?' + queryString;
    },

    uploadExcelColor(e){
        const file = e.target.files[0];
        if(file){
            console.log(file);    
            this.showSpinnerWhileUpload(true);
            let urlUpload = `${ApiUploadColorByExcel}`;
            let formFile = new FormData();
            formFile.append('file', file);
            apiBinaryPost(urlUpload, formFile).then(resUpload => {
                console.log(resUpload);
                toast.success('File Excel uploaded');
                
                this.showSpinnerWhileUpload(false);
                this.reload();
            }).catch(errUp => {            
                console.log('errUpload', errUp);
                this.showSpinnerWhileUpload(false);
            });;
        }
    },
    showSpinnerWhileUpload (value){
      this.isUploading = value;
      this.$emit('showSpinnerWhileUpload', value);
    }
  }
};
</script>
<style lang="scss" scope>
.content-wrapper {
  &.profile-wp {
    background-color: #fff;
  }
}

.content-disabled {
    pointer-events: none;
    opacity: 0.4;
  }
</style>