<template>
  <ContentWrapper class="profile-wp">
    <div class="content-heading justify-content-between">
      <h2>Profile Information</h2>
      
    </div>
    <div class="pl-0 pr-0" >
      <div class="card">
        <div class="card-body">
          <div class="edit">
          <button class="btn-edit" @click.prevent="edit()"
            v-tooltip.bottom="{
              content: 'Edit Profile',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="far fa-edit"></i>
            </button>
          </div>
          <div class="text-center">
            <img class="avatar" v-bind:src="profile.avatarUrl" />
            <div class="pt-2">
              <h4>{{profile.name}}</h4>
            </div>
          </div>
          <div class="info">
            <table>
              <tbody>
                <tr>
                  <td><b>Email</b></td><td>{{profile.email}}</td>
                </tr>
                <tr>
                  <td><b>Password</b></td><td><a @click.prevent="editChangePassword" href="javascript:void(0);">Click to change</a></td>
                </tr>
                <tr>
                  <td><b>Roles</b></td><td><span v-for="role in profile.roles" class="user-role" >{{ role.title }}</span></td>
                </tr>
                <tr>
                  <td><b>Date Created</b></td><td>{{profile.created_at}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
      </div>
    </div>
    
    <Modal 
      v-on:childToParent="onCloseModal"   
      v-on:closeChild="closeModal" 
      v-if="openModalState"
      :user="profile"
    />

    <ChangePassword 
      v-on:childToParent="onCloseModal"   
      v-on:closeChild="closeModal" 
      v-if="openModalPasswordState"
      :user="profile"
    />
  </ContentWrapper>

  </ContentWrapper>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Vue from "vue";
import apiCall from "../../helpers/apiCall";
import { get, concat } from "lodash";
import swal from 'sweetalert';

import VTooltip from 'v-tooltip'
import Modal from './Modal/Edit.vue';
import toast from "../../helpers/toast";
import Status from "../../components/Partials/Status";

import authService from '../../helpers/authService';
import ChangePassword from './Modal/ChangePassword.vue';

Vue.use(VTooltip)


export default {
  components: {
    Modal,
    Status,
    ChangePassword
  },
  mounted() {

  },
  data() {
    return {
      roles: [],
      profile : authService.getProfile(),
      openModalState: false,
      editingRole: null,
      openModalPasswordState: false
    };
  },
  created() {
    this.$emit('showLoading', false);
    this.getData();
  },
  methods: {
    
    getData(){
      console.log(this.profile);
        //this.$emit('showLoading', false);
        //let url = `${ApiRoles}?page=${this.currentPage + 1}&per_page=${this.limit}`;
        // let url = `${ApiRoles}`;
        // apiCall("get", url).then(res => {
        //   this.$emit("showLoading", false);
        //   this.roles =  get(res.data, "data.list", []);
        // })
        // .catch(error => {
        //   console.error(error);
        // });
    },
    
    showModal() {
        this.openModalState = true;
    },

    

    reload() {
       this.getData();
    },

    edit(row) {
        
        this.openModalState = true;
    },

    closeModal() {
        console.log('normal close');
        this.openModalState = false;
        this.openModalPasswordState = false;
     
    },

    onCloseModal(value) {
        console.log("Callback from child : " , value);
        if(value){
          authService.setProfile(value);
          this.profile = value;
          console.log('check xem co update store ko ', this.$store);
          toast.success('Success');
          this.reload();
        }
    },

    editChangePassword() {
        this.openModalPasswordState = true;
    },

    
  }
};
</script>
<style lang="scss" scope>
  .profile-wp{
    .edit {
      width: 50%;
      float: right;
      position: relative;
    }
    .btn-edit{
      position: absolute;
      left: 20%;
      border-radius: 15px;
      background: #ffffff;
      cursor:pointer;
      width: 30px;
      height:30px;
    }
    .info {
      width:20%;
      position:relative;
      margin: 10px auto;
      table {
        td {
          padding:10px;
        }
      }
    }
    .avatar {
      width:150px;
      border-radius:75px;
      border : 1px solid #c3c3c3;
    }

    .user-role{
      padding: 2px 6px;
      margin-right:4px;
      color: white;
      background: #00BFFF;
      font-weight: bold;
      border-radius: 10px;
    }
  }

</style>