<template>
    <Search :msg="msg" />
</template>
<script>
    import Vue from "vue";
    import Search from "@/components/Layout/Search"
    export default {
        data() {
            return {
                msg: '',
            }
        },
        mounted(){
            this.init() 
        },
        methods:{
            init() {
                this.msg= this.$route.query.q;
                this.$emit("showLoading", false);
            }
        },
        watch:{
            '$route.query.q': function() {
                  this.init() 
            }
        },
        components:{
            Search
        }

    }
</script>