<template>
  <ContentWrapper class="profile-wp">
    <div class="content-heading justify-content-between">
      <h2 @click="onReload">Feedbacks Management</h2>
      <!-- <button class="btn btn-fprimary btn-add" @click="showModal()">
          <i class="fa fa-plus"></i> 
        </button> -->
    </div>
    <div class="content-body pl-0 pr-0" >
      <v-server-table  ref="table" :columns="[ 'title','content', 'owner', 'action']" :options="options">
        
        <template slot="child_row" slot-scope="props" class="child-table">
          <div class="card-deck p-3 row clearfix text-left">
            <div class="card cms-card">
              <div class="title-cs pl-3 mb-0 pb-0 pt-1">
                      <h3>Content</h3>
                      <p>
                        
                        {{props.row.content}}
                        
                    </p>
              </div>
            </div> 
          </div>
        </template>  

        <template slot="title" slot-scope="props" class="col-status" >
          <span class="badge-cms ">
            <b>{{ props.row.title }}</b>
          </span>
        </template>

        <template slot="content" slot-scope="props" class="col-status" >
          <span class="badge-cms ">
            {{ props.row.content | truncate(50, '...') }}
          </span>
        </template>

        <template slot="owner" slot-scope="props" class="col-status" >
          <span v-if="props.row.owner" class="badge-cms ">
            {{ props.row.owner.email }}
          </span>
        </template>

        <template slot="action" slot-scope="props">
          <div>
           
            <button class="btn btn-xs mr-1" @click.prevent="remove(props.row)"
             v-tooltip.bottom="{
              content: 'Delete Feedback',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="fa fa-trash"></i>
            </button>
            
        
          </div>
        </template>
      </v-server-table>

     
    </div>
    


  </ContentWrapper>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Vue from "vue";
//import { ClientTable } from "vue-tables-2";
import { ServerTable, Event } from "vue-tables-2";
import { ApiFeedbacks} from "../../config"; 
import apiCall from "../../helpers/apiCall";
import { get, concat } from "lodash";
import swal from 'sweetalert';

import VTooltip from 'v-tooltip'
//import Modal from './Modal/AddEdit.vue';
import toast from "../../helpers/toast";

Vue.use(VTooltip)
//Vue.use(ClientTable);
Vue.use(ServerTable);

export default {
  components: {
  //  ClientTable,
    ServerTable
    //Modal
  },
  mounted() {

  },
  data() {
    return {
      feedbacks: [],
      
      
      options: {
        
        requestFunction: (function (params) {
          console.log('requestFunction', params);
          
          let queryString = Object.keys(params).map(function(key) {
            if(params[key]){
              return key + '=' + params[key]
            }
          }).join('&');
          let url = `${ApiFeedbacks}?${queryString}`;
          this.$emit('showLoading', false);
          return apiCall("get", url);
        }).bind(this),

        responseAdapter : function(resp) { 
          console.log('responseAdapter', resp);
          var data = this.getResponseData(resp);
          let feedbacks =  data.data.data.list;
          feedbacks = feedbacks.map((item, index) => {
                item["id"] = index;
                return item;
            });
          
          let result = { data: feedbacks, count: data.data.meta.total };
          return result;
        },
        params : {
          test2 : null
        },
        perPage: 20,
        perPageValues:[20, 50, 100],
        pagination: {  
          edge: true,
          dropdown: false,
          chunk: 5   
        },
        headings: {
           

        },
        sortable : [],
        sortIcon: {
          is: "fa-chevron-down",
          base: "fas",
          up: "fa-chevron-up",
          down: "fa-chevron-down"
        },
        columnsClasses: {
        
          //code: "width-200",
          //name: "width-percent-25",
          
          action: "width-100"
        },
        
      },
      isDeleting: false,
      openModalState: false,
      editingFeedback: null
    };
  },
  created() {
    this.getData();
  },
  filters: {
        truncate: function (text, length, suffix) {
            return text.substring(0, length) + suffix;
        },
    },
  methods: {
    
    onReload(){
      this.options.params.test2 = "test2";
      this.$refs.table.refresh();
      //if you want to keep current filter, use getData
      //this.$refs.table.getData();
    },
    getData(){

        //let url = `${ApiFeedbacks}?feedback=${this.currentFeedback + 1}&per_feedback=${this.limit}`;
        // let url = `${ApiFeedbacks}`;
        // apiCall("get", url).then(res => {
        //   this.$emit("showLoading", false);
        //   this.feedbacks =  get(res.data, "data.list", []);
        //   this.feedbacks = this.feedbacks.map((item, index) => {
        //         item["id"] = index;
        //         return item;
        //     });
        // })
        // .catch(error => {
        //   console.error(error);
        // });
    },
    
    showModal() {
        this.openModalState = true;
    },

    remove(row) {
      //Show Notify
      swal({
        title: "Are you sure?",
        text: "Feedback  will be deleted, you will not be able to recover this!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
        customClass: 'notifySwal',
      }).then(willDelete => {
        if (willDelete) {
          //this.isDeleting = true;
          this.$emit('showLoading', true);
          apiCall('delete', ApiFeedbacks + '/' + row._id)
            .then(res => {
              console.log(res);
              swal("Delete succeeded!", {
                icon: "success"
              });
              //this.isDeleting = false;
              this.$emit('showLoading', false);
              // const i = _.findIndex(this.listData, { id: row.phone });
              // if (i >= 0) {
              //   this.listData.splice(i, 1);
              // }
              this.reload()
              
            })
            .catch(error => {
              console.error(error);
            });
        } 
        // else {
        //   swal("Your style is safe!");
        // }
      });
    },

    reload() {
       this.onReload();
    },

    edit(row) {
        this.editingFeedback = row;
        this.openModalState = true;
    },

    closeModal() {
        console.log('normal close');
        this.openModalState = false;
        this.editingFeedback = null;
    },

    onCloseModal(value) {
        console.log("Callback from child : " , value);
        this.editingFeedback = null;
        if(value){
          toast.success('Success');
          this.reload();
        }
    },
  }
};
</script>
<style lang="scss" scope>
  .content-wrapper{
    &.profile-wp{
      background-color:#fff;
    }
  }
  tbody tr {
    height:60px;
  }
 
</style>