<template>
  <ContentWrapper class="profile-wp">
    <div class="content-heading">
      <h2>Users Management</h2>
      <div class="ml-auto">
        
      </div>
    </div>
    <div class="content-body pl-0 pr-0" >
      <v-server-table ref="table"
       :columns="['auth_id','avatarUrl', 'name','full_name','phone','email','brand', 'action']"
      :options="options" class="cms-table">
        <template slot="email" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms">
            {{ props.row.email }}
          </span>
        </template>

        <template slot="avatarUrl" slot-scope="props" class="col-status text-center" >
          <img class="max-height-75" v-bind:src="props.row.avatarUrl"/>
            
        </template>

        <template slot="brand" slot-scope="props" class="col-status text-center" >
          <span class="badge-cms badge">
            {{ props.row.brand }}
          </span>
        </template>

        <template slot="action" slot-scope="props">
          <div>
            <button class="btn btn-xs mr-1" @click.prevent="edit(props.row)"
            v-tooltip.bottom="{
              content: 'Edit Info',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="far fa-edit"></i>
            </button>
            <button class="btn btn-xs mr-1" @click.prevent="remove(props.row)"
             v-tooltip.bottom="{
              content: 'Delete User',
              loadingContent: 'Please wait...',
              loadingClass: 'content-is-loading',
            }"
            >
              <i class="fa fa-trash"></i>
            </button>
            
            <!-- <button class="btn btn-xs" @click.prevent="remove(props.row)" v-bind:disabled="props.row.orders.lenght > 0">
              <i class="far fa-trash-alt"></i>
            </button> -->
          </div>
        </template>
      </v-server-table>
    </div>
    
    <Modal 
      v-on:childToParent="onCloseModal"   
      v-on:closeChild="closeModal" 
      v-if="openModalState"
      :user="editingUser"
      :brands="brands"
    />

  </ContentWrapper>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import Vue from "vue";
import { ServerTable } from "vue-tables-2";
import { ApiUsers, URLUsers , ApiBrands} from "../../config"; 
import apiCall from "../../helpers/apiCall";
import { get, concat } from "lodash";
import swal from 'sweetalert';

import VTooltip from 'v-tooltip'
import Modal from './Modal/Edit.vue';
import toast from "../../helpers/toast";

Vue.use(VTooltip)
Vue.use(ServerTable);

export default {
  components: {
    ServerTable,
    Modal
  },
  
  data() {
    return {
      brands: [],

      
      options: {
        
        requestFunction: (function (params) {
          
          params.name = params.query;
          let queryString = Object.keys(params).map(function(key) {
            if(params[key]){
              return key + '=' + params[key]
            }
          }).join('&');
          let url = `${ApiUsers}?${queryString}`;
          
          return apiCall("get", url);
        }).bind(this),

        responseAdapter : function(resp) { 
          
          var data = this.getResponseData(resp);
          let list =  data.data.data.list;
          list = list.map((item, index) => {
                item["id"] = index;
                return item;
            });
          
          let result = { data: list, count: data.data.meta.total };
          return result;
        },
        params : {
          name : null
        },
        perPage: 20,
        perPageValues:[20, 50, 100],
        pagination: {  
          edge: true,
          dropdown: false,
          chunk: 5   
        },
        headings: {
           "auth_id" : "Id",
           "name" : "User name",
           "full_name" : "Full name",
           "brand" : "Brand",
           "avatarUrl" : "Avatar"
          
        },
        sortable: ['auth_id', 'name', 'email'],
        sortIcon: {
          is: "fa-chevron-down",
          base: "fas",
          up: "fa-chevron-up",
          down: "fa-chevron-down"
        },
        columnsClasses: {
          userId: "width-75",
          brand: "width-100",
          avatarUrl: "width-100",
          email : "width-250",
          action: "width-100"
        },
        
      },

      isDeleting: false,
      openModalState: false,
      editingUser: null
    };
  },
  created() {
    //this.getData();
    this.$emit('showLoading', false);
    this.getBrands();
  },
  methods: {
    
    // getData(){ 
    //     this.$emit('showLoading', true)
    //     //let url = `${ApiUsers}?page=${this.currentPage + 1}&per_page=${this.limit}`;
    //     let url = `${ApiUsers}`;
    //     apiCall("get", url).then(res => {
    //       this.$emit("showLoading", false);
    //       this.profileList =  get(res.data, "data.list", []);
    //     })
    //     .catch(error => {
    //       console.error(error);
    //     });
    // },
    
    getBrands(){
        let url = `${ApiBrands}`;   
        apiCall("get", url).then(res => {
          this.brands = res.data.data.list || [];
        })
        .catch(error => {
          console.error(error);
        });
    },
    

    remove(row) {
    
      //Show Notify
      swal({
        title: "Are you sure?",
        text: "User " + row.name + " will be deleted, you will not be able to recover this!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
        customClass: 'notifySwal',
      }).then(willDelete => {
        if (willDelete) {
          //this.isDeleting = true;
          this.$emit('showLoading', true);
          apiCall('delete', ApiUsers + '/' + row.userId)
            .then(res => {
              console.log(res);
              swal("Delete succeeded!", {
                icon: "success"
              });
              //this.isDeleting = false;
              this.$emit('showLoading', false);
              // const i = _.findIndex(this.listData, { id: row.phone });
              // if (i >= 0) {
              //   this.listData.splice(i, 1);
              // }
              this.reload()
              
            })
            .catch(error => {
              console.error(error);
            });
        } 
        // else {
        //   swal("Your style is safe!");
        // }
      });
    },

    reload() {
       this.$refs.table.refresh();
    },

    edit(row) {
        this.editingUser = row;
        this.openModalState = true;
    },

    closeModal() {
        this.openModalState = false;
    },

    onCloseModal(value) {
        console.log("Callback from child : " , value);
        this.editingUser = null;
        if(value){
          toast.success('Success');
          this.reload();
        }
    },
  }
};
</script>
<style lang="scss" scope>
  .content-wrapper{
    &.profile-wp{
      background-color:#fff;
    }
  }
 
</style>